{% extends "base.html" %}
{% block head %}
{# 用于在html head部分添加内容，如引入css，js资源等#}
{% endblock %}


{% block mainbody %}
{# 主内容区 #}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h2>欢迎加入我们</h2>
        <p class="m-l-2">成为我们的一员,更深入的参与项目!
        <a class="m-l-2 btn btn-primary" href="mailto:402955610@qq.com?Subject=加入平台团队" target="_top">申请加入</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block foot %}
{# 用于在body标签闭合前添加代码，如引入js代码等 #}
{% endblock %}
