{% extends "base.html" %} {% load compress %} {% block head %}
<title>字形详情页</title>
{% compress css %}
<link rel="stylesheet" href="/static/characters/css/app.css">
<link rel="stylesheet" href="/static/characters/css/switch.css">
<style>
.modal-dialog {
    overflow: initial !important
}
.modal-body {
    overflow: auto;
}
</style>
{% endcompress %} {% endblock %} {% block mainbody %}
<div class="container">
    <div class='row show-grid' style="margin-top:20px">
        <div class='col-md-8 col-xs-8'>
            <div class="ui segment" style="float: left">
                <img src="{{character.image_url}}"></img>
            </div>
            <div class='cell-table'>
            <table class='table-bordered'>
            <tbody>
            <tr><td>藏经名</td><td>{{page.sutra.tripitaka.name}}</td></tr>
            <tr><td>经名</td><td>{{page.sutra}}</td><td>经编号</td><td>{{page.sutra.gaolizang_id}}</td></tr>
            <tr><td>页信息</td><td ><a id='page_id' href="/page/{{page.id}}">{{page.id}}</a></td><td>页编号</td><td>{{page.gaolizang_id}}</td></tr>
            <tr><td>所在行号</td><td>{{character.line_no}}</td><td>所在序号</td><td>{{character.char_pos}}</td></tr>
            </tbody>
            </table>
            </div>

            <div style="float: right;margin-top: 60px;" onclick="zoom_pic()">
                <span class='fa fa-search-plus' style='font-size:30px'></span>
            </div>
            <div class="switch-box is-segment" style="float: right;margin-top: 64px;">
                <input id="primary" class="switch-box-input underline-option" type="checkbox" v-on:click="toggle_detail()" />
                <label for="primary" class="switch-box-slider"></label>
                <label for="primary" class="switch-box-label">行标记</label>
            </div>
        </div>
        <div class='col-md-4 col-xs-4'>
            <div class='t-h2 hidden' style="float: left">{{character.char}}-{{character.id}}({{t_char}})</div>
            <div class="switch-box is-segment" style="float: right;margin-top: 64px;">
                <input id="match" class="switch-box-input match-option" type="checkbox" v-on:click="toggle_match()" />
                <label for="match" class="switch-box-slider"></label>
                <label for="match" class="switch-box-label">整页图文不匹配</label>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-xs-12'>
            <div id='page_img' class="ui segment" style='heihgt:300px'>
            </div>
        </div>
        <div class='col-md-4 col-xs-12'>
            <div id='page_text' class="ui segment">
                <div class='text_lines' style='background-color:white'>
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>
    {% include "characters/included/zoom_image.html" %}
</div>
{% endblock %} {% block foot %} {% compress js %}
<script src="/static/js/svg/svg.js" charset="utf-8"></script>
<script src="/static/js/svg/svg_helper.js" charset="utf-8"></script>
{% endcompress%}
<script>
function sortKeysBy(obj, comparator) {
    var keys = _.sortBy(_.keys(obj), function(key) {
        return comparator ? comparator(obj[key], key) : key;
    });

    return _.zipObject(keys, _.map(keys, function(key) {
        return obj[key];
    }));
}
var rect = {{character.rect}}
var line_text = "{{character.line_no_text}}"
var char_pos = {{character.char_pos}}
var summary = {{summary | safe}}

//TODO: <> $$
function _pre_process(value) {
    if (value === " ")
        return false;
    return true;
}
$(function() {
    var is_correct = {{page.is_correct}}
    if (is_correct === 1) {
        $('input.match-option').prop('checked', true)
        $('.switch-box-label').text('整页图文匹配')
    }
    var pre_node = $('#page_text pre');
    _.map(sortKeysBy(summary), function(value, key) {
        var i = 0;
        _.each(value, function(char, j) {
            if (!_pre_process(char)) {
                pre_node.append(char);
                return true;
            } else {
                i++
            }
            if (line_text === key && i === char_pos) {
                pre_node.append($('<span style="border: solid 2px #7744b0;background-color: rgba(77,44,130,0.3);"></span>').addClass(key).addClass(i + '').text(char))
            } else {
                pre_node.append($('<span></span>').addClass(key).addClass(i + '').text(char))
            }

        })
        $('#page_text pre').append('<br/>')
    })
    aysnc_drawSVG('page_img', rect, "{{page.image_url}}")

    $("input.underline-option").click(function(e) {
        toggle_underline()
    })
    $("input.match-option").click(function(e) {
        toggle_match()
    })
})

function zoom_pic() {
    $('#zoomImageModal').modal('show')
    $('.wrapper').width($(window).width()).height($(window).height() - $('.modal-header').height());
    if (!$('.wrapper svg')[0])
        aysnc_drawSVG('lg-image', rect, "{{page.image_url}}")
}

var toggle = false;

function toggle_image() {
    var width = $('#page_img image').attr('width');
    var height = $('#page_img image').attr('height');
    if (toggle) {
        toggle = false
        $('.wrapper').width($(window).width()).height($(window).height() - $('.modal-header').height());
    } else {
        toggle = true
        $('.wrapper').width(width).height(height)
    }
}

function toggle_underline() {
    if ($('svg line').hasClass('hidden')) {
        $('span.' + line_text).css('text-decoration', 'underline')
        $('svg line').removeClass('hidden')
    } else {
        $('span.' + line_text).css('text-decoration', 'none')
        $('svg line').addClass('hidden')
    }

}

function toggle_match() {
    var checked = $('input.match-option').prop('checked')
    var url = '/api/page/' + $('#page_id').text() + '/toggle_correct'
    $.ajax({
        url: url,
        method: 'post',
        cache: false,
        dataType: 'json',
        data: {},
        success: function(res) {
            if (res.is_correct == 1){
                $('input.match-option').nextAll('.switch-box-label').text('整页图文匹配');
            }
            else {
                $('input.match-option').nextAll('.switch-box-label').text('整页图文不匹配');
            }
        },
        error: function(xhr, status, err) {
            console.log(err);
        }
    });
}
</script>
{% endblock %}
