
.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
/*for  char index pagination*/
div.dataTables_paginate span {
	margin: 2px 2px;
	white-space: nowrap;
	display: inline;
}

.pagitor_of, .paginate_of {
    border-radius:5px;
    -moz-border-radius:5px;
    padding: 3px 3px;
    text-shadow:1px 1px 1px #333;
    text-align: center;
    font-weight: bold;
    color: #8c96a0;
    text-shadow:1px 1px 1px #fff;
}

select.input-sm {
  height: 27px;
  line-height: 27px;
}
#char_index_length {
  position: absolute;
  right: -10%;
}
.paginate_page {
  display: none !important;
}
.paginate_button{
    display: inline-block;
    padding: 3px 8px;
    margin-left: 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px gray solid;
    border-radius: 4px;
    }
.paginate_button:hover{
    color:cornflowerblue;
    cursor:pointer;
}
.paginate_button:active{
    color: azure;
}

.paginate_button.disabled{
    color: gainsboro;
    cursor: not-allowed;
}
.paginate_input{
    width: 75px;
    height: 26px !important;
    padding: 3px 6px !important;
    line-height: 26px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#char_index_filter > label > input {
    width: 70px;
}

.m-l-3 {
  margin-left: 3px;
}


#char_index_wrapper > div:nth-child(3) > div.col-sm-5{
    display:none;
}

/*for char area*/
.radio-btn {
    display:inline;
    margin: 2px 2px;
    color: #8c96a0;
    box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
    background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: linear-gradient(top,#f2f3f7,#e4e8ec);
    border: 1px gray solid;
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
    padding: 4px 3px;
    text-shadow:1px 1px 1px #333;
}
.radio-btn:hover{
    color:cornflowerblue;
    cursor:pointer;
}
.radio-btn:active{
    color: azure;
}
.radio-btn.actived{
    border: 2px solid blue;
    color:azure;
}
.error-char {
  background-color: pink;
  border:solid red 4px !important;
  animation:0.5s flipOutX ease;
}
.correct-char {
  background-color: #9AFF9A;
  border:solid green 4px !important;
  animation:0.5s flipInX ease;
}

.flow {
float:left;
position:relative;
width:90px;
height:120px;
max-width:100%;
max-height:100%;
margin-left:3px;
margin-top: 2px;
border:solid blue 2px;
border-radius: 20px;
}

.flow img{
  display: inherit;
  margin: 8px auto;
  width: 80px;
  height: 80px;
}
.char-info{
  display: inherit;
  margin: 8px auto;
  width: 60px;
}

.selected {
  background-color: #aaa !important;
}

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

.char-pagitor{
  display: inline;
  margin: 5%;
}
.pagitor {
  padding: 2px 8px;
}
.batch-check {
  margin-left: 16px;
}
.pagitor .paginate_of{
    border: 1px gray solid;
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
    padding: 4px 3px;
    text-shadow:1px 1px 1px #333;
    text-align: center;
    font-weight: bold;
    color: #8c96a0;
    text-shadow:1px 1px 1px #fff;
}

.pagitor:hover{
    color:cornflowerblue;
    cursor:pointer;
}
.pagitor:active{
    color: azure;
}

.pagitor.disabled{
    color: gainsboro;
    cursor: not-allowed;
}
.pagitor_input{
     width: 55px;
     height: 27px !important;
     padding: 3px 3px !important;

}
.accuracy_input{
    width: 42px;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading_icon {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/static/img/FhHRx.gif')
                50% 50%
                no-repeat;
}

#clear_btn {
  position: absolute;
  right: 0px;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading_icon {
    display: block;
}
.form-control-inline {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-inline:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control-inline::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-inline:-ms-input-placeholder {
  color: #999;
}
.form-control-inline::-webkit-input-placeholder {
  color: #999;
}
.form-control-inline::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control-inline[disabled],
.form-control-inline[readonly],
fieldset[disabled] .form-control-inline {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control-inline[disabled],
fieldset[disabled] .form-control-inline {
  cursor: not-allowed;
}

button.dropdown-toggle {
  height: 28px;
  line-height: 1;
}

.m-t-10 {
  margin-top: 10px;
}

.more-padding {
  padding: 2px 18px !important;
}

.btn, .btn:focus {
  border-radius: 22px;
  outline:0;
}

.btn-o {
  border-radius: 6px;
}

/* Tooltip text */
.btn .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -30px;
    margin-top: 36px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.btn:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: -18%;
    right: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent  transparent #555 transparent;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

.mute_checkbox {
  float: right;
  margin-top: 4px;
  font-size: 14px;
}