django==1.8.7
django-extensions==1.6.7
django-filter==0.12.0
djangorestframework==3.3.2
psycopg2==2.6.1

# Deployment
fabric==1.11.1

# Need to install with CFLAGS="-I/usr/pkg/include" prepended in order for system libraries to be found.
pillow==3.2.0

scikit-image==0.12.3
scikit-learn==0.17.1 
scipy==0.18.0
matplotlib==1.5.1
redis==2.10.5
qiniu==7.0.7
django-qiniu-storage==2.3.0

django_fagungis==0.1

Werkzeug==0.11.10

django-celery==3.1.17 

django-debug-toolbar==1.5

