{% extends "base.html" %}
{% block head %}
<title>切错页面索引</title>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/svg.select.css">
<link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tingle.min.css" media="all">
<script type="text/javascript">
window.onload = function(){
   //去掉默认的contextmenu事件，否则会和右键事件同时出现。
   document.oncontextmenu = function(e){
       e.preventDefault();
   };
}
</script>
<style>
    .highlight {
      stroke: red;
      stroke-width: 2;
    }
    .segment-line {
      stroke: blue;
      stroke-width: 2;
    }

    .cursor_ns {
      cursor:ns-resize;
    }

    .toolbar {
        margin:20px;
        padding:10px;
        background-color:#40E0D0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container-fluid">
    <div class='row show-grid'>
        <div class='col-md-2 sidecol' >
            <div class="input-group">
              <input id="gopage_id" type="text" class="form-control" placeholder="pageid for...">
              <span class="input-group-btn">
                <button id = "goPage_btn" class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
            <table id='pageindext' class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                     <th>opage编号</th>
                  </tr>
                </thead>
              <tbody>
                {% for page in opage_list %}
              <tr>
                  <td >{{page.id}}</td>
              </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class='col-md-10'>
            <div class="unchecked-box hidden">
                <div class="btn-toolbar toolbar" role="toolbar" aria-label="test" style=''>
                    <h3>{{ page.tripitaka.name }} 第{{ page.volume }}册 第{{ page.page_no }}页</h3>
                    <button class="btn btn-primary" id="save">保存</button>
                </div>
            </div><!--end hidden-->

            <div id="bookpage_cut"></div>
        </div><!--end col-md-9-->
    </div><!--end row -->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<script src="/static/js/svg.min.js"></script>
<script src="/static/js/svg.draw.min.js"></script>
<script src="/static/js/svg.select.js"></script>
<script src="/static/js/svg.resize.js"></script>
<script src="/static/js/svg.draggable.min.js"></script>
<script>
var rects = [];
var texts = [];
function renderPage(_pageid){
    var bars_count = 2;
    window._pageid = _pageid;
    $('#bookpage_cut').empty();
   $.getJSON("/api/opage/"+_pageid+"/",function(result){
        var factor = 0.5;
        width = result.width * factor;
        height = result.height * factor;
        var draw = new SVG('bookpage_cut')
            .size(width, height);
        var image = draw.image(result.image)
            .size(width,height);

        page_no = result['page_no'];
        page_type = result['page_type'];
        page_height = result['height'];
        var offset = 20;
        bars_width = (result['width']/page_type - offset)*factor;
        bars_height = (page_height/bars_count - offset)*factor;


        for(var j=0;j<page_type;j++){
            for(var i=0;i<bars_count;i++){
               var rect = draw
                    .rect(bars_width,bars_height)
                    .move((offset + bars_width)*j,(offset+bars_height)*i)
                    .fill('none')
                    .addClass('segment-line');
                var id = rect.node.id;
                rects[id] = rect;
                lable = 'p'+(page_no+j) + 'b'+(i+1);
                texts[id] = draw
                    .text(lable)
                    .fill('red')
                    .move(rect.x(),rect.y());
                rect.selectize().resize().on('resizedone', function(e){
                    rect = e.target;
                    console.log(rect.id);
                    var id = rect.id;
                    texts[id].move(rects[id].x(),rects[id].y());
                });
            }
        }

        draw.viewbox({ x: 0, y: 0, width: width, height: height });



    });
}
$(function(){
    $('#pageindext tbody tr').click(function (e) {
        $('.unchecked-box').removeClass('hidden');
        $('tr').removeClass("selected");
        $(this).addClass("selected");
        var _pageid = $("tr.selected td:first").text();
        renderPage(_pageid);
    });

})
$(function(){
    $('#goPage_btn').click(function () {
        $('.unchecked-box').removeClass('hidden');
        var _pageid = $("#gopage_id").val();
        renderPage(_pageid);
    });

})
</script>

{% endblock %}


