{% extends "base.html" %}
{% block head %}
<title>切错页面索引</title>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/svg.select.css">
<link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tingle.min.css" media="all">
<script type="text/javascript">
window.onload = function(){
   //去掉默认的contextmenu事件，否则会和右键事件同时出现。
   document.oncontextmenu = function(e){
       e.preventDefault();
   };
}
</script>
<style>
    .highlight {
      stroke: red;
      stroke-width: 6;
    }
    .segment-line {
      stroke: blue;
      stroke-width: 6;
    }

    .cursor_ns {
      cursor:ns-resize;
    }

    .toolbar {
        margin:20px;
        padding:10px;
        background-color:#40E0D0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container-fluid">
    <div class='row show-grid'>
        <div class='col-md-2 sidecol' >
            <div class="input-group">
              <input id="gopage_id" type="text" class="form-control" placeholder="pageid for...">
              <span class="input-group-btn">
                <button id = "goPage_btn" class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
            <table id='pageindext' class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                     <th>opage编号</th>
                  </tr>
                </thead>
              <tbody>
                {% for page in opage_list %}
              <tr>
                  <td >{{page.id}}</td>
              </tr>
                {% endfor %}
              </tbody>
            </table>
        </div><!--end col-md--->
        <div class='col-md-10'>
            <div class="unchecked-box hidden">
                <div class="btn-toolbar toolbar" role="toolbar" aria-label="test" style=''>
                    <h3>{{ page.tripitaka.name }} 第{{ page.volume }}册 第{{ page.page_no }}页</h3>
                    <button class="btn btn-primary" id="bar1">栏1</button>
                    <button class="btn btn-primary" id="bar2">栏2</button>
                    <button class="btn btn-primary" id="save">保存</button>
                </div> <!--end toolbar-->
            </div><!--end hidden-->

            <div id="bookpage_cut"></div>
        </div><!--end col-md-9-->
    </div><!--end row -->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<script src="/static/js/svg.min.js"></script>
<script src="/static/js/svg.draw.min.js"></script>
<script src="/static/js/svg.select.js"></script>
<script src="/static/js/svg.resize.js"></script>
<script src="/static/js/svg.draggable.min.js"></script>
<script>
function renderPage(_pageid){
    window._pageid = _pageid;
    $('#bookpage_cut').empty();
   $.getJSON("/api/opage/"+_pageid,function(result){ 
        console.log(result);
        console.log(result['pages_no']);
        var factor = 0.5;
        width = result.width * factor;
        height = result.height * factor;
        var drawing = new SVG('bookpage_cut')
            .size(width, height)
            .viewbox({ x: 0, y: 0, width: width, height: height });
        var image = drawing.image(result.image)
            .size(width,height);
        var rect1 = null;
        var rect2 = null;
        $('#bar1').click(function() {
          if (rect1 != null) {
            return ;
          }
          var rect = drawing.rect();
          rect.draw().attr('stroke', 'red').attr('stroke-width', 1).attr('fill', 'none');
          rect.selectize().resize().on('resizedone', function(e){
          });
          rect1 = rect;
        });
        $('#bar2').click(function() {
          if (rect2 != null) {
            return ;
          }
          var rect = drawing.rect();
          rect.draw().attr('stroke', 'red').attr('stroke-width', 1).attr('fill', 'none');
          rect.selectize().resize().on('resizedone', function(e){
          });
          rect2 = rect;
        });//end bar2
        $('#save').click(function(){
                console.log('save');
              if (rect1 == null) {
                return ;
              }
              console.log(rect1.x() + ', ' + rect1.y());
              console.log('w-h:' + rect1.width() + ', ' + rect1.height());
              var data = {
                'bar1': {
                  'top': rect1.y(),
                  'left': rect1.x(),
                  'width': rect1.width(),
                  'height': rect1.height()
                }
              };
              if (rect2 != null) {
                data.bar2 = {
                  'top': rect2.y(),
                  'left': rect2.x(),
                  'width': rect2.width(),
                  'height': rect2.height()
                };
              }
              var post_data = {
                'data': JSON.stringify(data),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              }
              $.post('/preprocess/opage_cut/'+_pageid, post_data, function(d) {
                    console.log('ok');
                  });
        });//end save

    });
}
$(function(){
    $('#pageindext tbody tr').click(function (e) {
        $('.unchecked-box').removeClass('hidden');
        $('tr').removeClass("selected");
        $(this).addClass("selected");
        var _pageid = $("tr.selected td:first").text();
        renderPage(_pageid);
    });

})
$(function(){
    $('#goPage_btn').click(function () {
        $('.unchecked-box').removeClass('hidden');
        var _pageid = $("#gopage_id").val();
        renderPage(_pageid);
    });

})
</script>

{% endblock %}


