{% extends "base.html" %}
{% block head %}
<title>图片预处理</title>
<link href="/static/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/svg.select.css">
<link href="/static/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/tingle.min.css" media="all">
<style>
    .highlight {
      stroke: red;
      stroke-width: 2;
    }
    .segment-line {
      stroke: #3371b7;
      stroke-width: 6;
    }

    .cursor_ns {
      cursor:ns-resize;
    }

    .toolbar {
        margin:20px;
        padding:10px;
        background-color:#40E0D0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container-fluid">
    <div class="select_panel">
        <div class="h4">选择藏经所在册</div>
          <select id='Tripitaka' class="selectpicker show-menu-arrow" data-live-search="true" >
            <option >====大藏经===</option>
            {% for tri in tripitaka_list%}
            <option value='{{tri.id}}'>{{ tri.name}}</option>
            {% endfor %}
          </select>
          <select id='Volume' class="selectpicker show-menu-arrow" data-live-search="true" >
          </select>
    </div>
    <div class='row show-grid'>
        <div class='col-md-2 sidecol' >
            <table id='pageindext' class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                     <th>opage编号</th>
                  </tr>
                </thead>
              <tbody>
              </tbody>
            </table>
        </div>
        <div class='col-md-10'>
            <div class="unchecked-box hidden">

                    <div class="h3" id="page_desc">

                    </div>
                    <button class="btn btn-primary" id="save">保存</button>
                <div id="bookpage_cut"></div>
            </div><!--end hidden-->


        </div><!--end col-md-9-->
    </div><!--end row -->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/svg.min.js"></script>
<script src="/static/js/svg.draw.min.js"></script>
<script src="/static/js/svg.select.js"></script>
<script src="/static/js/svg.resize.js"></script>
<script src="/static/js/svg.draggable.min.js"></script>


<script>
var rects = [];
var texts = [];
var page_id;
var volume_id;
function renderPage(_pageid){
    rects = [];
    texts = [];
    var volume_idx = $('#Volume').find("option:selected").data("idx");
    var bars_count = $volumes[volume_idx].bars_count;
    $('#bookpage_cut').empty();
   $.getJSON("/api/o_page/"+_pageid+'?status=0',function(result){
        var factor = 0.5;
        width = result.width;
        height = result.height;
        var draw = new SVG('bookpage_cut')
            .size(width*factor, height*factor);
        var image = draw.image(result.image_url)
            .size(width,height);
        draw.viewbox({ x: 0, y: 0, width: width, height: height });
        $("#page_desc").text(result['description']);
        page_no = result['page_no'];
        page_type = result['page_type'];
        page_height = result['height'];
        var offset = 20;
        bars_width = (result['width']/page_type - offset);
        bars_height = (page_height/bars_count - offset);


        for(var j=0;j<page_type;j++){
            for(var i=0;i<bars_count;i++){
               var rect = draw
                    .rect(bars_width,bars_height)
                    .move((offset + bars_width)*j,(offset+bars_height)*i)
                    .fill('none')
                    .addClass('segment-line');
                var id = rect.node.id;
                rects[id] = rect;
                lable = 'p'+(page_no+j) + 'b'+(i+1);
                texts[id] = draw
                    .text(lable)
                    .fill('green')
                    .move(rect.x(),rect.y());
                rect.selectize({radius:27}).resize().on('resizedone', function(e){
                    rect = e.target;
                    console.log(rect.id);
                    var id = rect.id;
                    texts[id].move(rects[id].x(),rects[id].y());
                });
            }
        }

    });
}
function binding_opage(){
    $('#pageindext tbody tr').click(function (e) {
        $('.unchecked-box').removeClass('hidden');
        $('tr').removeClass("selected");
        $(this).addClass("selected");
        page_id = $("tr.selected td:first").text();
        renderPage(page_id);
    });
}
$('#Tripitaka').on('changed.bs.select', function (e) {
  var request = $.getJSON({
        type: 'GET',
        url: '/api/tripitaka/' + e.target.value ,
    });
  request.done(function(data){

        $("#Volume").empty();
        $("#Volume").append(
                $("<option></option>").attr(
                    "value", "").text("--- 册 ---")
            );
        $volumes = data.volumes;
       for (var i = 0; i < data.volumes.length; i++) {
            $("#Volume").append(
                $("<option></option>").attr(
                    "value", $volumes[i].id).text($volumes[i].number).attr('data-idx', i)
            );
        }
        $('#Volume').selectpicker('refresh');
    });
});

$('#Volume').on('changed.bs.select', function (e) {
        volume_id = e.target.value;
    var request = $.getJSON({
        type: 'GET',
        url: '/api/volume/' + volume_id ,
    });
  request.done(function(data){

        $("#pageindext tbody").empty();

        opages = data.o_pages;
        for (var i = 0; i < data.o_pages.length; i++) {
            $("#pageindext tbody").append(
                $("<tr></tr>").append($("<td></td>").html(opages[i].id)));
        }
        binding_opage();
    });
});
$('#save').click(function(){
    if ($('#save').hasClass("disabled"))
    {
        return;
    }
    $('#save').addClass("disabled");
    var data=[];
    for(rect in rects){
        data.push({
                'opage_id': page_id,
                'volume_id': volume_id,
                'bar_id': texts[rect].text(),
                'top': rects[rect].y(),
                'left': rects[rect].x(),
                'width': rects[rect].width(),
                'height': rects[rect].height(),
        });
    }
   var post_data = {
    'data': JSON.stringify(data),
    'csrfmiddlewaretoken': '{{ csrf_token }}'
  }
  $.post('/preprocess/opage_cut', post_data).always(function() {
    $("tr.selected").remove();
    $('#save').removeClass("disabled");
    if ($("tr").size() < 2) {
        window.location.reload();
    }
  });
});
</script>
{% endblock %}
