{% block head %}
<title>文字处理</title>

<style>
.redactor-in {
    padding: 24px;
    border: 1px dashed rgba(0, 0, 0, .15);
    border-top: none;
    background: #f6f9fe;
}
#contextMenu {
  position: absolute;
  display:none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#dff0d8;
}

.dropdown-menu{
border: 1px solid #428BCA;
padding: 0px;
min-width: 60px
}

.divider{
border: 1px dashed #fcf8e3;
}
</style>
{% endblock %}


{% block mainbody %}
<div class="container">
<div class="h3">文本预处理</div>
<div id="be_saved" class="alert alert-success" style="display: none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    保存成功.
  </div>
    <div class="row">

        <div class="col-md-10 col-xs-10 gallery">
            <div id="img{{ page.id }}"></div>
        </div>
        <div class="col-md-10 col-xs-10">
        <ul id="contextMenu" class="dropdown-menu" role="menu">
      <div class="btn-group-vertical">

        <button class="btn btn-primary" onclick="containSelectedText('<', '>');$('#contextMenu').hide();">&lt;夹注&gt;</button>
        <button class="btn btn-primary" onclick="markSelectedText('@');$('#contextMenu').hide();">@题记@</button>
        <button class="btn btn-primary" onclick="markSelectedText('$');$('#contextMenu').hide();">$衍文$</button>
        <button id="btn-dollar" class="btn btn-default" onclick="containSelectedText('【', '】');$('#contextMenu').hide();">【增字】</button>
        <button class="btn btn-default" onclick="containSelectedText('(', ')');$('#contextMenu').hide();">(非正文内容)</button>
        <button class="btn btn-warning" onclick="containSelectedText('{', '}');$('#contextMenu').hide();">{有缺损}</button>
        <button class="btn btn-warning" onclick="replaceSelectedText('?');$('#contextMenu').hide();">有疑问?</button>

        </div>
</ul>
        <div class="btn-group action_buttons hidden">

        <button class="btn btn-primary" onclick="containSelectedText('<', '>')">&lt;夹注&gt;</button>
        <button class="btn btn-primary" onclick="markSelectedText('@')">@题记@</button>
        <button class="btn btn-primary" onclick="markSelectedText('$')">$衍文$</button>
        <button id="btn-dollar" class="btn btn-default" onclick="containSelectedText('【', '】')">【增字】</button>
        <button class="btn btn-default" onclick="containSelectedText('(', ')')">(非正文内容)</button>
        <button class="btn btn-warning" onclick="containSelectedText('{', '}')">{有缺损}</button>
        <button class="btn btn-warning" onclick="replaceSelectedText('?')">有疑问?</button>

        </div>
                <button class="btn btn-warning pull-right" onclick="toggle_view()">切换版式</button>
                <button id="btn-save" class="btn btn-primary pull-right" onclick="save_to_page()">保存</button>
        </div>
        <div class="col-md-10 col-xs-10 reel">
        <pre rel="经文" class=" language-markup">
        <div id="redactor"  contenteditable="true">{{page.text|escape|linebreaks}}<br></div>
        </pre>

    </div>
</div>


    </div>
<p>

    <button id="btn-cancel" style="display: none;" outline>Cancel</button>

</p>


{% endblock %}
{% block foot  %}
<script src="/static/js/svg.min.js"></script>
<script>

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
var $page_id = "{{page.id}}";

$(function(){

    var draw = new SVG("img{{ page.id }}").size('650', '325');
    var _img_url = '{{ page.image_url}}'
    var image = draw.image(_img_url)
    draw.viewbox({ x: 0, y: 0, width:{{page.width }} , height:  {{page.height }}})
    var leftline = draw.line({{page.left}},0,{{page.left}},900).addClass('segment-line');
    var rightline = draw.line({{page.right}},0,{{page.right}},900).addClass('segment-line');

})
function replaceSelectedText(replacementText) {
    var sel, range, text;
    if (window.getSelection) {
        sel = window.getSelection();
        text = window.getSelection().toString();
        if (sel.rangeCount) {
            range = sel.getRangeAt(0);
            range.deleteContents();
            range.insertNode(document.createTextNode(replacementText));
        }
    } else if (document.selection && document.selection.createRange) {
        range = document.selection.createRange();
        text = range.text;
        range.text = replacementText;
    }
}


function markSelectedText(mark) {
    var sel, range, text;
    if (window.getSelection) {
        sel = window.getSelection();
        text = sel.toString();
        if (text == "")
            return;
        if (sel.rangeCount) {
            range = sel.getRangeAt(0);
            range.deleteContents();
            range.insertNode(document.createTextNode(mark.concat(text).concat(mark)));
        }
    } else if (document.selection && document.selection.createRange) {
        range = document.selection.createRange();
        text = range.text;
        range.text = mark.concat(text).concat(mark);
    }
}

function containSelectedText(con1,con2) {
    var sel, range, text;
    if (window.getSelection) {
        sel = window.getSelection();
        text = sel.toString();
        if (text == "")
            return;
        if (sel.rangeCount) {
            range = sel.getRangeAt(0);
            range.deleteContents();
            range.insertNode(document.createTextNode(con1.concat(text).concat(con2)));
        }
    } else if (document.selection && document.selection.createRange) {
        range = document.selection.createRange();
        text = range.text;
        range.text = con1.concat(text).concat(con2);
    }
}

function toggle_view(){
    if ($("#redactor").hasClass("tnt")){
        $("#redactor").removeClass("tnt")
    } else {
        $("#redactor").addClass("tnt")
    }
}

function unescapeHtml(safe) {
    return safe.replace(/&amp;/g, '&')
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/&quot;/g, '"')
        .replace(/&#039;/g, "'");
}

function strip(html)
{
   var tmp = document.createElement("DIV");
   tmp.innerHTML = html;
   return tmp.textContent || tmp.innerText || "";
}

function save_to_page(){
    var text = $("#redactor").html();
    text = text.replace(/<br>/g,"\r\n");
    text = strip(text);
    //text = unescapeHtml(text);
    var post_data = {'id': $page_id,'text': text};
    $.ajax({
    url: '/api/page/'+ $page_id,
    type: 'PUT',
    dataType: "json",
    contentType: "application/json",
    data: JSON.stringify(post_data),
    success: function(result) {
        $("#be_saved").fadeIn();
        $("#be_saved").fadeOut();
        $("tr.selected").remove();

        $('#save').removeClass("disabled");
        if ($("tr").size() < 2) {
            window.location.reload();
        }
        $("tr")[1].click();
        }
    });

}
$(function(){
    var $contextMenu = $("#contextMenu");
    $("#redactor").mouseup(function(e){
        if (e.pageY > 887){
            $contextMenu.css({
              display: "block",
              left: e.pageX/2,
              top: 287
            });
        }else{
            $contextMenu.css({
              display: "block",
              left: e.pageX/2,
              top: e.pageY-600
            });
        }
        console.log(e.pageY);
         return false;
     });

    $('body').mousedown(function(e){
       var $contextMenu = $("#contextMenu");
       if ($.contains($contextMenu[0],e.target)){
         return true;
       }
       $contextMenu.hide();
       return true;
    });

});


</script>
{% endblock %}