.svg_select_points_lt{
    cursor: nw-resize;
}
.svg_select_points_rt{
    cursor: ne-resize;
}
.svg_select_points_rb{
    cursor: se-resize;
}
.svg_select_points_lb{
    cursor: sw-resize;
}
.svg_select_points_t{
    cursor: n-resize;
}
.svg_select_points_r{
    cursor: e-resize;
}
.svg_select_points_b{
    cursor: s-resize;
}
.svg_select_points_l{
    cursor: w-resize;
}

.svg_select_points_rot{
    stroke-width:1;
    stroke:black;
    fill: #F9FFED;
    opacity: 0;
}

.svg_select_points_point{
    cursor: move;
}

.svg_select_boundingRect{
    stroke-width:1;
    fill:gray;
    stroke-dasharray:10 10;
    stroke:black;
    stroke-opacity:1;
    fill-opacity:0.1;
    pointer-events:none; /* This ons is needed if you want to deselect or drag the shape*/
}
.cursor-pointer {
    cursor: pointer;
}

.inset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #bbbbbb #dadada #dadada;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-right: 1px solid #dadada;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset, 0 1px 0 #dadada;
    overflow: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.main-sidebar {
  background-color: rgb(34, 45, 50);
  top: 60px;
  padding-top: 0px;
}


.nav-tabs-custom >.nav-tabs > li.header > a {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
}

.btn-box-tool-active {
    border-color: #bbbbbb #dadada #dadada;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
}

.btn-app {
    min-width: 70px;
    padding: 10px 10px;
    height: 55px;
}
.main-header .navbar .nav > li > a {
    height: 52px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 2px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

.combo-buttons {
  padding: 5px 15px 0px 0px;
}

.combo-buttons > a {
  margin-right: 5px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #605ca8;
  border-color: #204d74;
}

.inline-wrap {
    display: inline-block;
    overflow: hidden;
    margin-left: -80px;
}

.box {
  text-align: center;
}
.box-title {
  float: left;
}

.svg-wrapper {
  display: block;
  width: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.column-line {
  stroke: rgb(119, 68, 176);
  stroke-width: 2;
}

.row-line {
  cursor: ns-resize;
}

.highlight* {
  stroke: black;
}

.highlight-1 {
  stroke: #0066FF;
}
.highlight-2 {
  stroke: #009900;
}
.highlight-3 {
  stroke: #00FF00;
}
.highlight-4 {
  stroke: #6666FF;
}
.highlight-5 {
  stroke: #66FFFF;
}
.highlight-6 {
  stroke: #990000;
}
.highlight-7 {
  stroke: #996600;
}
.highlight-8 {
  stroke: #9999FF;
}
.highlight-9 {
  stroke: #CC00FF;
}
.highlight-10 {
  stroke: #CC66FF;
}
.highlight-11 {
  stroke: #CC0000;
}
.highlight-12 {
  stroke: #CC6600;
}
.highlight-13 {
  stroke: #CC9900;
}
.highlight-14 {
  stroke: #CCFF00;
}
.highlight-15 {
  stroke: #FF00FF;
}
.highlight-16 {
  stroke: #FF99FF;
}
.highlight-17 {
  stroke: #FF9900;
}
.highlight-18 {
  stroke: #FFFF00;
}

.highlight-* {
  stroke: black;
}

  /* Tooltip */
[data-tooltip] {
  position: relative;
  text-decoration: none;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: 0%;
  background: #000000;
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
}

[data-tooltip]:hover:after {
  bottom: 110%;
}

[data-tooltip]:hover:after, a:hover:before {
  opacity: 1;
}

/* Sidebar */
.draftJsToolbar__draft-sidebar__iGLU3 {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  width: 32px;
}

.draftJsToolbar__draft-sidebar__iGLU3 .draftJsToolbar__item__16yus button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 50px;
  font-size: 16px;
  color: rgba(0,0,0,.6);
  height: 32px;
  line-height: 31px;
  padding: 0 14px;
  font-size: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.draftJsToolbar__draft-sidebar__iGLU3 .draftJsToolbar__item__16yus .draftJsToolbar__menu__2kTke {
  display: none
}

.draftJsToolbar__draft-sidebar__iGLU3 .draftJsToolbar__item__16yus:hover .draftJsToolbar__menu__2kTke {
  display: block
}

/* Toolbar */
.draftJsToolbar__toolbar__2NV21 {
  background-color: #000;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  z-index: 100;
  position: absolute;
  left: 28.1328px;
  top: -30px;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML {
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #000;
  border-color: grey;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 0px;

}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML.draftJsToolbar__toolbar-item-active__1MJoi {
  background-color: #222d32;
}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML:hover{
  background-color: #222d32;
}

.draftJsToolbar__toolbar__2NV21 .draftJsToolbar__toolbar-item__ZQoML button {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
  padding: 7px;
  width: 80px;
  text-decoration: none;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
  background-color: rgb(34, 45, 50);
  color: white;
}
