{% extends "base.html" %}
{% block head %}
<title>字索引</title>

<link href="/static/css/simplePagination.css" rel="stylesheet">
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="/static/characters/css/app.css">
{% endblock %}
{% block mainbody %}
<div class="container" style="min-width:1000px !important;">
    <div class='row show-grid'>
        <div class='col-md-4 col-xs-4' >
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">字形列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="char_index" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>字</th>
                        <th>字形总数</th>
                        <th>正样本</th>
                        <th>负样本</th>
                        <th>未标记</th>
                    </tr>
                    </thead>
                    <tbody id="char_index_tbody">
                  {% for char in characterstatistics_list%}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{char.char}}</td>
                      <td>{{char.total_cnt}}</td>
                      <td>{{char.correct_cnt}}</td>
                      <td>{{char.err_cnt}}</td>
                      <td>{{char.uncheck_cnt}}</td>
                  </tr>
                  {% endfor %}
                    </tbody>
                  </table>
                </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div><!--end col-md-3 -->
        <div class='col-md-8 col-xs-8'>
            <div style="float:right; margin-right:64px;margin-top:75px;">
                <div class="radio-btn actived show-all" data-value="-10">显示全部</div>
                <div class="radio-btn" data-value="0">未标记</div>
                <div class="radio-btn" data-value="-1">人工标错</div>
                <div class="radio-btn" data-value="1">人工标对</div>
                每页显示
                <div id="LineControler" class="btn-group" style="padding:0 16px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>100&nbsp;</span><span class="caret"></span> </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;">5&nbsp;</a></li>
                        <li><a href="javascript:;">50&nbsp;</a></li>
                        <li><a href="javascript:;">100&nbsp;</a></li>
                        <li><a href="javascript:;">200&nbsp;</a></li>
                        <li><a href="javascript:;">300&nbsp;</a></li>
                        <li><a href="javascript:;">900&nbsp; </a></li>
                    </ul>
                </div>
                字
            </div>
            <div style="clear:both;"> </div>
            <div id='charBrowseArea'>
            </div>
            <div style="clear:both;"> </div>
            <div style="float:right; margin-right:64px;">
                <div class='char-pagitor'>
                    <span class='first pagitor' id='char_index_first'>First</span>
                    <span class='previous pagitor' id='char_index_previous'>Previous</span>
                    <input class='pagitor_input' type='number' min="1">
                    <span class='pagitor_of'id="total_page"> </span>
                    <span class='next pagitor' id='char_index_next'>Next</span>
                    <span class='last pagitor' id='char_index_last'>Last</span>

                </div>
                <div  class="btn btn-primary batch-check" >批量標對</div>
                <div  class="btn btn-primary batch-check" id="err_btn">批量標錯</div>
            </div>
            <div style="clear:both;"> </div>

            <div class="pagec" id="pagearea">
                <ul class="pagination">
                </ul>
            </div>
        </div><!--end col-md-9 -->
    </div><!--endrow-->
    <div class="modal"><!-- Place at bottom of page --></div>
</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<!-- DataTables -->
<script src="/static/datatables/jquery.dataTables.min.js"></script>
<script src="/static/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/datatables/input.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#char_index").DataTable({
      "pagingType": "input",
        "info":     false

    });
  });
</script>
<script src="/static/js/jquery.simplePagination.js" charset="utf-8"></script>
<script src="/static/js/jquery.cookie.js" charset="utf-8"></script>
<script >
var charListContainer =
    {
        char: '',
        page_size: 15,
        page_number: 1,
        filter: '-10',//show alll
        data: [],
        pagination: {},
        paginationRender: function(){
            var total_pages = this.pagination.total_pages;
            $('.pagitor_input').val(this.page_number);
            $('.pagitor_input').attr('max',total_pages);
            $('#total_page').text('of '+total_pages);
        },
        hello: function(){
            alert('hello');
        },
        renderCharArea : function(){
            var area = "#charBrowseArea";
            var charArr = this.data;
            $(area).empty();
            txt =''
            $.each(charArr, function(i, field){
                txt = "<div id="+field.id+" class='flow "
                if (field.is_correct <0){
                    txt += "error-char ";
                }
                else if (field.is_correct == 1){
                    txt += "correct-char ";
                }
                txt +="char-image' title='"+field.id+"'><img src='"+field.image_url+"' alt='加载中...' class='lazy'><span class='badge char-info'> "+ field.accuracy+"</span> </div>"
                $(area).append(txt);
              });
        },
        binding_char_check : function (char){
            var selector = '#charBrowseArea .char-image'
            var _char = char;
            $(selector).click(function(){
                  var data = {'id': this.id};
                  data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                  data['char'] = _char;
                  if ($(this).hasClass('error-char')) {
                    $(this).removeClass('error-char');
                    $(this).addClass('correct-char');
                    data['is_correct'] = 1;
                  } else {
                    $(this).removeClass('correct-char');
                    $(this).addClass('error-char');
                    data['is_correct'] = -1;
                  }
                $.post('/characters/set_correct', data);
            });
        },
        renderCharAndBind : function(){
            this.renderCharArea();
            this.binding_char_check(this.char);
        },
        fetchDataAndRender: function(){
            var that = this;
            var query = "/api/character?page_size="+this.page_size
                +"&char="+this.char
                +"&page="+this.page_number;
            if(this.filter!=-10){
                query += "&is_correct="+this.filter;
            }
            $.getJSON(query,function(result){
                that.data = result.models;
                that.pagination = result.pagination;
                that.renderCharAndBind();
                that.paginationRender();
            });
        }
    }
//inital page_size
$(function(){
    var page_size = $.cookie('charindex_page_size');
    if(page_size== undefined){
        page_size = 50;
    }
    charListContainer.page_size = page_size;
});

//handler char select
$('#char_index #char_index_tbody').on('click', 'tr', function(event) {
    $('tr').removeClass("selected");
    $(this).addClass("selected");
    charListContainer.char = $("tr.selected td:eq(1)").text();
    charListContainer.page_number=1;
    charListContainer.filter="-10";
    $('.radio-btn').removeClass('actived');
    $('.radio-btn.show-all').addClass('actived');
    charListContainer.fetchDataAndRender();
})


//page_size selector
$(function() {
    var page_size = charListContainer.page_size;
    $("#LineControler button span:first-of-type").text(page_size);
})
$("#LineControler li a").click(function () {
    var page_size = $(this).text();
    charListContainer.page_size = page_size;
    $("#LineControler button span:first-of-type").text(page_size);
    $.cookie('charindex_page_size', page_size, { expires: 30 });
    charListContainer.page_number=1;
    charListContainer.fetchDataAndRender();
})

//filter button handle
$('.radio-btn').click(function() {
    $('.radio-btn').removeClass('actived');
    $(this).addClass('actived');
    charListContainer.filter=$(this).attr('data-value');
    charListContainer.fetchDataAndRender();
})

// batch handle
$(function(){
    $('.batch-check').click(function(){
        var btn = $(this);
        var is_correct=1;
        if (this.id=='err_btn'){
            is_correct = -1;
        }
        handler(is_correct,btn);
    });
})
function handler(is_correct,btn) {
    var arr =[];
    var charlist = $("#charBrowseArea").children();
    for (var i=0;i<charlist.length;i++){
        var tmp = charlist[i];

        if (! ($(tmp).hasClass('error-char') || $(tmp).hasClass('correct-char') )){
            if(is_correct==-1){
                $(tmp).addClass('error-char');
            }
            else{
                $(tmp).addClass('correct-char');
            }
            arr.push(tmp.id);
        }
    }
    var data = {
        'charArr':arr,
        'is_correct':is_correct
        };
    var updateNum = arr.length;
    data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
    data['char'] = charListContainer.char;
    data['updateNum'] = updateNum;
    $.post('/characters/set_correct', data, function() {
       if(data['status']=='ok'){
       }
    });
}

$(function(){
 $('.pagitor').click(function(){
        if($(this).hasClass('first')){
            page_number=1;
        }
        else if($(this).hasClass('previous')){
            page_number= charListContainer.pagination.previous_page;
        }
        else if($(this).hasClass('next')){
            page_number= charListContainer.pagination.next_page;
        }
        else if($(this).hasClass('last')){
            page_number= charListContainer.pagination.total_pages;
        }
        charListContainer.page_number=page_number;
        charListContainer.fetchDataAndRender();
    });
})

$('.pagitor_input').keypress(function( event ){
    if(event.which == 13){
        var page_number = $('.pagitor_input').val();
        charListContainer.page_number=page_number;
        charListContainer.fetchDataAndRender();
    }
});
</script>


<script src="/static/js/jquery.lazyload.min.js" charset="utf-8"></script>
<script>
$body = $("body");
$(document).on({
    ajaxStart: function() {
        $body.addClass("loading");
    },
    ajaxComplete: function() {
      $body.removeClass("loading");
    }
});

$("img.lazy").lazyload({
    effect : "fadeIn"
});

</script>

{% endblock %}













































