{% extends "base.html" %}
{% block head %}
<title>字索引</title>

<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/treemap/css/font-awesome.min.css">
<style>
.char-image {
    /*background-color: #9AFF9A;*/
    /*border:solid green 2px !important;*/
}

.error-char {
    background-color: pink;
    border:solid red 2px !important;
}

.correct-char {
    background-color: #9AFF9A;
    border:solid green 2px !important;
}

.flow {
    float:left; min-width:80px; min-height:80px; margin:5px;
    border:solid blue 1px;
}

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

/* Tooltip text */
.btn .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -2%;
    margin-top: 36px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.fa {
    font-size: 16px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.btn:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: -18%;
    right: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent  transparent #555 transparent;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container">
    <div class='row show-grid' style="margin-top:20px">
        <div class='col-md-12 col-xs-12'>
            任务总进度:
            <div class="progress progress-striped">
                <div class="progress-bar " role="progressbar" data-transitiongoal="{{ done_cnt}}" aria-valuemax="{{total_cnt}}"></div>
            </div>
            今日完成量:
            <div class="progress progress-striped">
                <div class="progress-bar " role="progressbar" data-transitiongoal="{{ check_char_number}}" aria-valuemax="100"></div>
            </div>
            <div class="row">
            <div class="col-md-10 col-xs-7">
            <strong id='checkchar' style='font-size:36px; margin:10px;padding:8px;color:#483D8B;'>{{char}}</strong>
            <a target="_blank" href="http://hanzi.lqdzj.cn/hanzi-dict/search?param={{char}}">查字典</a>
            <img src="/static/img/legend.png"/>
            </div>
            <div class="col-md-2 col-xs-5">
            <div style="margin: 20px 0px 20px 0px;">
                <div id="LineControler" class="btn-group" style="padding:0 6px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="margin-right: 5px">20&nbsp;</span><span class="caret"></span> </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;">10&nbsp;</a></li>
                        <li><a href="javascript:;">20&nbsp;</a></li>
                        <li><a href="javascript:;">50&nbsp;</a></li>
                        <li><a href="javascript:;">100&nbsp; </a></li>
                    </ul>
                </div>
                字/页
            </div>
            </div>
            </div>
            <div id='variant_list'>{{variant_lst|safe}} </div>
            <div id='charlistArea'>
                <p class="bg-info hidden" style='margin:20px;padding:40px;'>审核模式只显示未审核的字型，浏览模式分页显示所有字型。</p>
            </div><!--end charlistArea -->
            <div style="clear:both; margin-bottom: 20px"> </div>
            <div class="row">
            <div class="col-xs-10">
            <div  class="btn btn-primary batch-check-correct" ><span class="tooltiptext">剩余全部标对</span><span class="fa fa-check">批量正确</span></div>
            <div  class="btn btn-primary batch-check-error" style="margin-left: 10px;padding: 6px 13px" >
            <span class="tooltiptext">剩余全部标错</span><span class="fa fa-times">批量错误</span></div>
            </div>
            <div class="col-xs-2">
            <div  class="btn btn-primary step-next disabled pull-right">
            <span class="tooltiptext">需全部被标记</span><span class="fa fa-arrow-right">继续点选</span></div>
            </div>
            </div>

        </div>

    </div>
</div><!--endrow-->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<!--for index-->
<script src="/static/js/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        var page_size = $.cookie('charcheck_page_size');
        if (page_size==30){
            $.cookie('charcheck_page_size', 20);
            page_size = 20;
        }
        $("#LineControler button span:first-of-type").text(page_size);
    })
    $("#LineControler li a").click(function () {
        var page_size = $(this).text();
        $("#LineControler button span:first-of-type").text($(this).text());
        $.cookie('charcheck_page_size', page_size, { expires: 20 });
        render_char_area();
    })
function render_char_area(){
    var _char = $('#checkchar').text();
    var page_size = $.cookie('charcheck_page_size');
    if ( page_size==null) {
        page_size = 20;
        $.cookie('charcheck_page_size', page_size, { expires: 20 });
    }
    $.getJSON("/api/character?page_size="+page_size+"&is_correct=0&char="+_char,function(result){
        if(result.models.length==0){
            // location.reload();
        }
        renderCharArea("#charlistArea",result.models);
        binding_char_check('#charlistArea');
        $('.progress .progress-bar').progressbar({display_text:'center', use_percentage: false});
      $('.progress .progress-bar').progressbar({
            update: function(current_percentage, $this) {
                $this.css('background-color', 'rgb(175,' + Math.round(current_percentage / 100 * 255) + ', 120)');
            }
        });
    });
}
$(render_char_area())
</script>
<script>
function binding_char_check(area){
    var selector = area + ' .char-image';
    $(selector).click(function(){
          var data = {'id': this.id};
          data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
          data['char'] = $('#checkchar').text();
        if (!$(this).hasClass('error-char')) {
            $(this).removeClass('correct-char');
            $(this).addClass('error-char');
        } else {
            $(this).removeClass('error-char');
            $(this).addClass('correct-char');
        }
        validButton();
    });
    $(selector).dblclick(function(){
          var data = {'id': this.id};
          data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
          data['char'] = $('#checkchar').text();
        if ($(this).hasClass('error-char')) {
            $(this).removeClass('error-char');
            $(this).addClass('correct-char');
        }
        validButton();
    });

}
</script>
<script>
function renderCharArea(area,charArr){
    $(area).empty();
    var char_div = '';
    $.each(charArr, function(i, field){
        char_div = "<div id="+field.id+" class='flow char-image' title='"+field.id+"'><img src='"+field.image_url+"' alt='加载中'></div>"
        $(area).append(char_div);
      });
}
</script>
<script>
$(function(){
    $('.batch-check-correct').click(handler);
    $('.batch-check-error').click(handler_default_error);
    $('.step-next').click(step);
})

function validButton() {
    if ($('.char-image').length == ($('.correct-char').length + $('.error-char').length)) {
        $('.step-next').removeClass('disabled');
        $('.step-next .fa').text('下一步');
        $('.step-next .tooltiptext').text('继续后面的任务');
    }
}

function step() {
    var correct_arr = $('.correct-char').map(function() {return this.id}).get();
    var error_arr = $('.error-char').map(function() {return this.id}).get();
    if (correct_arr.length + error_arr.length == 0) {
        return;
    }
    validButton();
    if ($('.char-image').length != (correct_arr.length + error_arr.length)) {
        return;
    }
    var data = {'e_charArr':error_arr};
    data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
    data['char'] = $('#checkchar').text();
    data['e_updateNum'] = error_arr.length;
    data['c_charArr'] = correct_arr;
    data['c_updateNum'] = correct_arr.length;
    $('.step-next').addClass('btn-warning');
    $('.step-next').off('click');
    $.post('/characters/set_correct', data, function() {
         $('.step-next').removeClass('btn-warning');
         location.reload();
    });
}

function handler() {
    $('.char-image').toArray().forEach(function(item, i) {
        if (!$(item).hasClass('correct-char') && !$(item).hasClass('error-char'))
        {
            $(item).addClass('correct-char');
        }
    })
    validButton();
}

function handler_default_error() {

    $('.char-image').toArray().forEach(function(item, i) {
        if (!$(item).hasClass('correct-char') && !$(item).hasClass('error-char'))
        {
            $(item).addClass('error-char');
        }
    })
    validButton();


}
</script>
<script type="text/javascript" src="/static/js/bootstrap-progressbar.min.js"></script>
{% endblock %}
