{% extends "base.html" %}
{% block head %}
<title>字索引</title>

<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<style>
.char-image {
    background-color: #9AFF9A;
    border:solid green 2px !important;
}
  .error-char {
    background-color: pink;
    border:solid red 2px !important;
  }
  .correct-char {
  }
  .flow {float:left; min-width:80px; min-height:80px; margin:5px;border:solid blue 1px;}

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container">
    隨喜大家! 已經完成!

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<!--for index-->
<script src="/static/js/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/bootstrap-progressbar.min.js"></script>
{% endblock %}
