{% extends "base.html" %}
{% block head %}
<title>字索引</title>

<link href="/static/css/simplePagination.css" rel="stylesheet">
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/datatables/dataTables.bootstrap.css">
<style>
  .error-char {
    background-color: pink;
    border:solid red 2px !important;
  }
  .correct-char {
    background-color: #9AFF9A;
    border:solid green 2px !important;
  }
  .flow {float:left; min-width:80px; min-height:80px; margin:5px;border:solid blue 1px;}

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}
.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
span {
    padding:5px 5px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container" style="min-width:1000px !important;">
    <div class='row show-grid'>
        <div class='col-md-4 col-xs-4' >
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">字形列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="char_index" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>字</th>
                        <th>字形总数</th>
                        <th>正样本</th>
                        <th>负样本</th>
                        <th>未标记</th>
                    </tr>
                    </thead>
                    <tbody id="char_index_tbody">
                    {% for char in characterstatistics_list%}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{char.char}}</td>
                        <td>{{char.total_cnt}}</td>
                        <td>{{char.correct_cnt}}</td>
                        <td>{{char.err_cnt}}</td>
                        <td>{{char.uncheck_cnt}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div><!--end col-md-3 -->
        <div class='col-md-8 col-xs-8'>
            <div style="float:right; margin-right:64px;">
                每页显示
                <div id="LineControler" class="btn-group" style="padding:0 16px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>100&nbsp;</span><span class="caret"></span> </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;">50&nbsp;</a></li>
                        <li><a href="javascript:;">100&nbsp;</a></li>
                        <li><a href="javascript:;">200&nbsp;</a></li>
                        <li><a href="javascript:;">300&nbsp;</a></li>
                        <li><a href="javascript:;">900&nbsp; </a></li>
                    </ul>
                </div>
                字
            </div>
            <div style="clear:both;"> </div>
            <div id='charBrowseArea'>
            </div>
            <div style="clear:both;"> </div>
            <div  class="btn btn-primary batch-check" >批量標對</div>
            <div  class="btn btn-primary batch-check" id="err_btn">批量標錯</div>
            <div style="clear:both;"> </div>
            <div class="pagec" id="pagearea">
                <ul class="pagination">
                </ul>
            </div>
        </div><!--end col-md-9 -->
    </div><!--endrow-->
</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<!-- DataTables -->
<script src="/static/datatables/jquery.dataTables.min.js"></script>
<script src="/static/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#char_index").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>
<script src="/static/js/jquery.simplePagination.js" charset="utf-8"></script>
<script src="/static/js/jquery.cookie.js" charset="utf-8"></script>
<script >
var g_char;
var page_size = 30;
$('#char_index #char_index_tbody').on('click', 'tr', function(event) {
    $('tr').removeClass("selected");
    $(this).addClass("selected");
    g_char = $("tr.selected td:eq(1)").text();
    page_size = $.cookie('charindex_page_size');
    if ( page_size==null) {
        page_size = 30;
    }
    $.getJSON("/api/character?page_size="+page_size+"&char="+g_char,function(result){
        data = result.models;
        pagination = result.pagination;
        paginationFun(pagination.total_entries,page_size);
        renderCharArea("#charBrowseArea",data);
        binding_char_check('#charBrowseArea');
    });
})

function binding_char_check(area){
    var selector = area + ' .char-image'
        $(selector).click(function(){
          var data = {'id': this.id};
          data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
          data['char'] =g_char;
          if ($(this).hasClass('error-char')) {
            $(this).removeClass('error-char');
            $(this).addClass('correct-char');
            data['is_correct'] = 1;
          } else {
            $(this).removeClass('correct-char');
            $(this).addClass('error-char');
            data['is_correct'] = -1;
          }
        $.post('/characters/set_correct', data);
    });
}

function renderCharArea(area,charArr){
    $(area).empty();
    txt =''
    $.each(charArr, function(i, field){
        txt = "<div id="+field.id+" class='flow "
        if (field.is_correct <0){
            txt += "error-char ";
        }
        else if (field.is_correct == 1){
            txt += "correct-char ";
        }
        txt +="char-image' title='"+field.id+"'><img src='"+field.image_url+"' alt='加载中'></div>"
        $(area).append(txt);
      });
}

function paginationFun(_items,_itemsOnpage){
    $('#pagearea').pagination({
        items: _items,
        itemsOnPage: _itemsOnpage,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber, event) {
                // Callback triggered when a page is clicked
                // Page number is given as an optional parameter
                var url = "/api/character?page_size="+page_size
                    +"&char="+g_char
                    +"&page="+pageNumber
                $.getJSON(url,function(result){
                    renderCharArea("#charBrowseArea",result.models);
                    binding_char_check('#charBrowseArea');
                });
            },
    });
}
</script>
<script type="text/javascript">
    $(function() {
        var page_size = $.cookie('charindex_page_size');
        $("#LineControler button span:first-of-type").text(page_size);
    })
    $("#LineControler li a").click(function () {
        var page_size = $(this).text();
        $("#LineControler button span:first-of-type").text($(this).text());
        $.cookie('charindex_page_size', page_size, { expires: 30 });
    })
</script>
<script>
$(function(){
    $('.batch-check').click(function(){
        var btn = $(this);
        var is_correct=1;
        if (this.id=='err_btn'){
            is_correct = -1;
        }
        handler(is_correct,btn);
    });
})
function handler(is_correct,btn) {
    var arr =[];
    var charlist = $("#charBrowseArea").children();
    for (var i=0;i<charlist.length;i++){
        var tmp = charlist[i];

        if (! ($(tmp).hasClass('error-char') || $(tmp).hasClass('correct-char') )){
            if(is_correct==-1){
                $(tmp).addClass('error-char');
            }
            else{
                $(tmp).addClass('correct-char');
            }
            arr.push(tmp.id);
        }
    }
    var data = {
        'charArr':arr,
        'is_correct':is_correct
        };
    var updateNum = arr.length;
    data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
    data['char'] = g_char;
    data['updateNum'] = updateNum;
    $.post('/characters/set_correct', data, function() {
       if(data['status']=='ok'){
       }
    });
}
</script>
{% endblock %}
