{% extends "base.html" %}
{% block head %}
<title>字索引</title>

<link href="/static/css/simplePagination.css" rel="stylesheet">
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<style>
label {
    display: inline-block;
  } /*for tooltip*/
  .error-char {
    background-color: pink;
    border:solid red 2px !important;
  }
  .correct-char {
    background-color: #9AFF9A;
    border:solid blue 2px !important;
  }
  .flow {float:left; min-width:80px; min-height:80px; margin:5px;border:solid blue 1px;}

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}
.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container">
    <div class='row show-grid'>
        <div class='col-md-3 col-xs-3' >
            <div class='sidecol'>
            <table class="table table-bordered table-striped table-hover">
                <caption>已经切分出的字列表</caption>
                <thead>
                  <tr>
                     <th>字</th>
                     <th>字形总数</th>
                      <th>正样本</th>
                      <th>负样本</th>
                     <th>未标记</th>
                  </tr>
                </thead>
              <tbody id='charindextbody'>
              </tbody>
            </table>
            <div id="index_pagearea"> </div>
            </div><!--end sidecol-->
        </div><!--end col-md-3 -->
        <div class='col-md-9 col-xs-9'>

<div style="float:right; margin-right:64px;">
        每页显示
        <div id="LineControler" class="btn-group" style="padding:0 16px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>30&nbsp;</span><span class="caret"></span> </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:;">30&nbsp;</a></li>
                <li><a href="javascript:;">50&nbsp;</a></li>
                <li><a href="javascript:;">70&nbsp;</a></li>
                <li><a href="javascript:;">90&nbsp; </a></li>
            </ul>
        </div>
        字
    </div>
            <div id='charBrowseArea'>
            </div>
            <div style="clear:both;"> </div>
            <div class="pagec" id="pagearea">
                <ul class="pagination">
                </ul>
            </div>
        </div><!--end col-md-9 -->
    </div><!--endrow-->
</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<script src="/static/js/jquery.simplePagination.js" charset="utf-8"></script>
<script src="/static/js/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        var page_size = $.cookie('charindex_page_size');
        $("#LineControler button span:first-of-type").text(page_size);
    })
    $("#LineControler li a").click(function () {
        var page_size = $(this).text();
        $("#LineControler button span:first-of-type").text($(this).text());
        $.cookie('charindex_page_size', page_size, { expires: 30 });
    })
</script>
<script>
var _char;
var page_size = 30;
function bindindex(){
    $('#charindextbody tr').click(function (e) {
        $('.unchecked-box').removeClass('hidden');
        $('tr').removeClass("selected");
        $(this).addClass("selected");
        _char = $("tr.selected td:first").text();
        page_size = $.cookie('charindex_page_size');
        if ( page_size==null) {
            page_size = 30;
        }
        $.getJSON("/api/character?accuracy__gt=-1&page_size="+page_size+"&char="+_char,function(result){
            data = result.models;
            pagination = result.pagination;
            paginationFun(pagination.total_entries,page_size);
            renderCharArea("#charBrowseArea",data);
            binding_char_check('#charBrowseArea');
        });
    });
}
$(function(){
    $.getJSON("/api/characterstatistics?page_size=15",function(result){
        data = result.models;
        pagination = result.pagination;
        index_pagination(pagination.total_entries,page_size);
        $('#charindextbody').empty();
        var row ='';
        $.each(data, function(i, field){
            row =  field.char;
            row = "<tr><td value='"+field.char+"'>"+field.char
            +"</td><td>"+field.total_cnt
            +"</td><td>"+field.correct_cnt
            +"</td><td>"+field.err_cnt
            +"</td><td>"+field.uncheck_cnt+"</td></tr>"
            $('#charindextbody').append(row);
        });
        bindindex();
    })
})
function index_pagination(_items,_itemsOnpage){
    $('#index_pagearea').pagination({
        items: _items,
        itemsOnPage: _itemsOnpage,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber, event) {
                var url = "/api/characterstatistics?page_size=15"
                    +"&page="+pageNumber
                $.getJSON(url,function(result){
                    data = result.models;
                    $('#charindextbody').empty();
                    var row ='';
                    $.each(data, function(i, field){
                        row =  field.char;
                        row = "<tr><td value='"+field.char+"'>"+field.char
                        +"</td><td>"+field.total_cnt
                        +"</td><td>"+field.uncheck_cnt
                        +"</td><td>"+field.err_cnt+"</td></tr>"
                        $('#charindextbody').append(row);
                    });
                    bindindex();
                });
            },
    });
}
function binding_char_check(area){
    var selector = area + ' .char-image'
        $(selector).click(function(){
          var data = {'id': this.id};
          data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
          data['char'] =_char;
          if ($(this).hasClass('error-char')) {
            $(this).removeClass('error-char');
            $(this).addClass('correct-char');
            data['is_correct'] = 1;
          } else {
            $(this).removeClass('correct-char');
            $(this).addClass('error-char');
            data['is_correct'] = -1;
          }
        $.post('/characters/set_correct', data);
    });
}

function renderCharArea(area,charArr){
    $(area).empty();
    txt =''
    $.each(charArr, function(i, field){
        txt = "<div id="+field.id+" class='flow "
        if (field.is_correct <0){
            txt += "error-char ";
        }
        else if (field.is_correct == 1){
            txt += "correct-char ";
        }
        txt +="char-image' title='"+field.id+"'><img src='"+field.image_url+"' alt='加载中'></div>"
        $(area).append(txt);
      });
}

function paginationFun(_items,_itemsOnpage){
    $('#pagearea').pagination({
        items: _items,
        itemsOnPage: _itemsOnpage,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber, event) {
                // Callback triggered when a page is clicked
                // Page number is given as an optional parameter
                var url = "/api/character?page_size="+page_size
                    +"&char="+_char
                    +"&page="+pageNumber
                $.getJSON(url,function(result){
                    renderCharArea("#charBrowseArea",result.models);
                    binding_char_check('#charBrowseArea');
                });
            },
    });
}
</script>

{% endblock %}
