<style>

.bar {
  fill: teal;
}

.bar:hover {
  fill: brown;
}


/*.chart rect {
    fill: steelblue;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
}

.chart .current {
  fill: green;
  cursor: pointer;
}
.modal { overflow: visible; }
.modal-body { overflow-y: visible; }
</style>
<div class="bd-classifyChart">
  <div class="modal fade" id="classifyChartModal" tabindex="-1" role="dialog" aria-labelledby="classifyChartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="h4 modal-title" style="display: inline" id="classifyChartModalLabel"></div><strong id='chart_char' style='font-size:36px; margin:0px;padding:8px;color:#483D8B;'>？</strong>
          <a class="btn btn-default accuracy_cal hidden" href="javascript:;" data-toggle="modal" data-target="#accuracyModal" data-char="？" style="margin-top:-12px">重计算</a>
          <div id="classify-grade" class="dropdown" style="display: inline;margin-left: 30px">精度：
          <button id='l-btn' class="btn btn-default grade-btn" data-value=10>低</button>
          <button id='m-btn' class="btn btn-default grade-btn" data-value=4>中</button>
          <button id='h-btn' class="btn btn-default grade-btn active" data-value=1>高</button>
          </div>
        </div>
        <div class="modal-body">
          <div class="chart-container" style="margin-left:50px;margin-right: 10px;">
            <svg class="chart" width="670" height="200">
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/StackedAreaChart/js/d3.min.js"></script>

<script>
function getSum(total, num) {
    if (total)
    {
      total.count += num.count;
    }
    total = total || num;

    return total;
}

var data =[];
var chunk = 10;
var current_char;

function loadSvg() {
  d3.json('/api/datapoint?char='+current_char,function(res){
      data =[];
      var i,j,temparray;
      for (i=0,j=res.length; i<j; i+=chunk) {
          temparray = res.slice(i,i+chunk);
          data.push(temparray.reduce(getSum));
          // do whatever
      }
      data = data.map(function(d) { d.range_idx = d.range_idx/200;return d });
      data.push({range_idx: 1, count:0});
    $.getScript("/static/js/charts_app.js");
  });
}

function markActive(){
  $(".grade-btn").removeClass("active");
  var btn;
  if (chunk == 10) {
    btn = $("#l-btn")
  } else if (chunk == 4) {
    btn = $("#m-btn")
  } else if (chunk == 1) {
    btn = $("#h-btn")
  }
  btn.addClass('active');
}
$(function(){
  $('#classifyChartModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = current_char = button.data('char'); // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('');
    modal.find('#chart_char').text(recipient);
    markActive();
    d3.selectAll("svg > *").remove();
    loadSvg();
  });

  $(".grade-btn").click(function() {
        var btn = $(this);
        chunk=btn.data('value');
        markActive();
        d3.selectAll("svg > *").remove();
        loadSvg();
    })
});


</script>