{% extends "base.html" %}
{% load compress %}
{% block head %}
<title>字索引</title>
{% compress css %}
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/treemap/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/characters/css/app.css">
{% endcompress %}
{% endblock %}
{% block mainbody %}
<div class="container">
    <div class='row show-grid' style="margin-top:20px">
        <div class='col-md-12 col-xs-12'>
            任务总进度:
            <div class="progress progress-striped">
                <div class="progress-bar " role="progressbar" data-transitiongoal="{{ done_cnt}}" aria-valuemax="{{total_cnt}}"></div>
            </div>
            今日完成量:
            <div class="progress progress-striped">
                <div class="progress-bar " role="progressbar" data-transitiongoal="{{ check_char_number}}" aria-valuemax="100"></div>
            </div>
            <div class="row">
            <div class="col-md-10 col-xs-7">
            <strong id='checkchar' style='font-size:36px; margin:10px;padding:8px;color:#483D8B;'>{{char}}</strong>
            <a target="_blank" href="http://hanzi.lqdzj.cn/hanzi-dict/search?param={{char}}">查字典</a>
            <img src="/static/img/legend.png"/>
            </div>
            <div class="col-md-2 col-xs-5">
            <div style="margin: 20px 0px 20px 0px;">
                <div id="LineControler" class="btn-group" style="padding:0 6px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="margin-right: 5px">20&nbsp;</span><span class="caret"></span> </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;">10&nbsp;</a></li>
                        <li><a href="javascript:;">20&nbsp;</a></li>
                        <li><a href="javascript:;">50&nbsp;</a></li>
                        <li><a href="javascript:;">100&nbsp; </a></li>
                    </ul>
                </div>
                字/页
            </div>
            </div>
            </div>
            <div id='variant_list'>{{variant_lst|safe}} </div>
            <div id='charlistArea'>
                <p class="bg-info hidden" style='margin:20px;padding:40px;'>审核模式只显示未审核的字形，浏览模式分页显示所有字形。</p>
            </div><!--end charlistArea -->
            <div style="clear:both; margin-bottom: 20px"> </div>
            <div class="row">
            <div class="col-xs-10">
            <div  class="btn btn-primary batch-check-correct" ><span class="tooltiptext">剩余全部标对</span><span class="fa fa-check">批量正确</span></div>
            <div  class="btn btn-primary batch-check-error" style="margin-left: 10px;padding: 6px 13px" >
            <span class="tooltiptext">剩余全部标错</span><span class="fa fa-times">批量错误</span></div>
            </div>
            <div class="col-xs-2">
            <div  class="btn btn-primary step-next disabled pull-right">
            <span class="tooltiptext">需全部被标记</span><span class="fa fa-arrow-right">继续点选</span></div>
            </div>
            </div>

        </div>

    </div>
</div><!--endrow-->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<!--for index-->
{% compress js %}
<script type="text/javascript" src="/static/js/say1_no2.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-progressbar.min.js"></script>
{% endcompress %}
{% endblock %}
