{% extends "base.html" %}
{% block head %}
<title>切字平台</title>
{# 用于在html head部分添加内容，如引入css，js资源等#}
{% endblock %}


{% block mainbody %}
{# 主内容区 #}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h2>欢迎使用字切分平台</h2>
        <p class="m-l-2">将书页图片上的文字，按照每个字进行切分。<a  href="/characters/task/" role="button">了解更多 &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
     <!--
     <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h3 class="m-b-1">页面检查</h3>
          <p>浏览切分前的页面，从页面级别检查正确性. </p>
          <p><a class="btn btn-default" href="/pagecheck/" role="button">更多详情 &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h3 class="m-b-1">切分校对</h3>
          <p> 对每个字检查切分出的字形，提供切分模式 和 审核模式 两种模式。其中， 审核模式只显示未审核的字形，浏览模式分页显示所有字形。</p>
          <p><a class="btn btn-default" href="/characters/task/" role="button">更多详情 &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h3 class="m-b-1">切分调整</h3>
          <p>显示出还有切错字形的页面，可以对切分线进行调整，重新切字。</p>
          <p><a class="btn btn-default" href="/segmentation/errpageindex" role="button">更多详情 &raquo;</a></p>
        </div>
      </div>
      -->
</div><!-- /.container -->
{% endblock %}

{% block foot %}
{# 用于在body标签闭合前添加代码，如引入js代码等 #}
{% endblock %}
