body {
    padding-top: 50px;
}

.starter-template {
    padding: 5% 10% 5% 10%;
    text-align: center;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.m-l-2 {
    margin-left: 2em;
}

.m-b-1 {
    margin-bottom: 1em;
}

svg {
    width: 100%;
}

pre[rel]::before {
    font-size: 0.95rem;
    content: attr(rel);
    color: white;
    position: absolute;
    line-height: 16px;
    top: 0;
    left: 0;
    width: 100%;
    background: #a89494 -webkit-linear-gradient(80deg, #a89494 0%, #a89494 10%, #9f8d8d 10%, #9f8d8d 20%, #948383 19%, #978686 21%, #978686 20%, #978686 30%, #8b7b7b 29%, #8f7e7e 31%, #8f7e7e 30%, #8f7e7e 40%, #837474 39%, #867777 41%, #867777 40%, #867777 50%, #7a6c6c 49%, #7e6f6f 51%, #7e6f6f 50%, #7e6f6f 60%, #726565 59%, #756868 61%, #756868 60%, #756868 70%, #6a5d5d 69%, #6d6060 71%, #6d6060 70%, #6d6060 80%, #615656 79%, #655959 81%, #655959 80%, #655959 90%, #594f4f 89%, #5c5252 91%, #5c5252 90%, #5c5252 100%);
    background: #a89494 linear-gradient(10deg, #a89494 0%, #a89494 10%, #9f8d8d 10%, #9f8d8d 20%, #948383 19%, #978686 21%, #978686 20%, #978686 30%, #8b7b7b 29%, #8f7e7e 31%, #8f7e7e 30%, #8f7e7e 40%, #837474 39%, #867777 41%, #867777 40%, #867777 50%, #7a6c6c 49%, #7e6f6f 51%, #7e6f6f 50%, #7e6f6f 60%, #726565 59%, #756868 61%, #756868 60%, #756868 70%, #6a5d5d 69%, #6d6060 71%, #6d6060 70%, #6d6060 80%, #615656 79%, #655959 81%, #655959 80%, #655959 90%, #594f4f 89%, #5c5252 91%, #5c5252 90%, #5c5252 100%);
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1px 0;
    text-indent: 15px;
}

pre[rel="REEL"]::before {
    background: #43b74d -webkit-linear-gradient(80deg, #43b74d 0%, #43b74d 10%, #3fae49 10%, #3fae49 20%, #3ba144 19%, #3ca546 21%, #3ca546 20%, #3ca546 30%, #379840 29%, #399c42 31%, #399c42 30%, #399c42 40%, #348f3c 39%, #35933e 41%, #35933e 40%, #35933e 50%, #318638 49%, #328a3a 51%, #328a3a 50%, #328a3a 60%, #2d7d35 59%, #2f8036 61%, #2f8036 60%, #2f8036 70%, #2a7431 69%, #2b7732 71%, #2b7732 70%, #2b7732 80%, #276a2d 79%, #286e2e 81%, #286e2e 80%, #286e2e 90%, #236129 89%, #25652b 91%, #25652b 90%, #25652b 100%);
    background: #43b74d linear-gradient(10deg, #43b74d 0%, #43b74d 10%, #3fae49 10%, #3fae49 20%, #3ba144 19%, #3ca546 21%, #3ca546 20%, #3ca546 30%, #379840 29%, #399c42 31%, #399c42 30%, #399c42 40%, #348f3c 39%, #35933e 41%, #35933e 40%, #35933e 50%, #318638 49%, #328a3a 51%, #328a3a 50%, #328a3a 60%, #2d7d35 59%, #2f8036 61%, #2f8036 60%, #2f8036 70%, #2a7431 69%, #2b7732 71%, #2b7732 70%, #2b7732 80%, #276a2d 79%, #286e2e 81%, #286e2e 80%, #286e2e 90%, #236129 89%, #25652b 91%, #25652b 90%, #25652b 100%);
}

.tnt {
    -ms-writing-mode: tb-rl;
    /* old syntax. IE */
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    /* new syntax */
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
    padding-top: 15px;
    line-height: 2.6vw;
    font-size: 1.8vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.reel {
    max-height: 36vw;
}

.action_buttons {
    z-index: 80;
    left: 10px;
}

@media screen and (max-width: 414px) {
    .action_buttons {
        top: -56vw;
    }
    .tnt {
        font-size: 10px;
        line-height: 2.8vw;
    }
}

@media screen and (min-width: 376px, max-width: 600px) {
    .action_buttons {
        top: -36vw;
    }
    .tnt {
        line-height: 2.6vw;
    }
}

@media screen and (min-width: 601px, max-width: 1440px) {
    .action_buttons {
        top: -18vw;
    }
}

@media screen and (min-width: 1441px) {
    .action_buttons {
        top: -25vw;
    }
}

.select_panel {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
}


/* .slideThree */

.slideThree {
    width: 80px;
    height: 26px;
    background: #337ab7;
    margin: 20px auto;
    position: relative;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
    content: '\5355 \9875 ';
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slideThree:before {
    content: "\53CC \9875 ";
    color: #000;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slideThree input[type=checkbox] {
    visibility: hidden;
}

.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}


/* end .slideThree */
