<div class="bd-accuracy">
  <div class="modal fade" id="accuracyModal" tabindex="-1" role="dialog" aria-labelledby="accuracyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="h4 modal-title" style="display: inline" id="accuracyModalLabel">相似度重算</div><strong id='accuracy_char' style='font-size:36px; margin:0px;padding:8px;color:#483D8B;'>？</strong>
          <a class="btn btn-default" href="javascript:;" data-toggle="modal" data-target="#compareResultModal" data-char="？" style="margin-top:-12px;padding:8px 12px;margin-left: 50%"><span class="tooltip_text">最近结果对比</span><span class="fa fa-table"></span></a>
        </div>
        <div class="modal-body" style="min-height:200px;">
          <div class="accuracy-container" style="margin-left:50px;margin-right: 10px">
            <div id="classify-grade" class="dropdown" style="display: inline;margin-left: 30px">范围：

            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 0px"><span class="accuracy_option">全部</span>
                  <span class="caret"></span></button>

                  <ul class="dropdown-menu" style="margin-top: 12px">
                    <li><a data-value="all" href="#">全部</a></li>
                    <li><a data-value="random" href="#">指定个数</a></li>
                  </ul>
            </div>
            <label style="margin-left:10px"><input id="auto-apply" type="checkbox" checked  value="">自动更新</label>
          </div>
          <div class="row hidden" style="margin-left:22px;margin-top: 10px">
            <div id="classify-mothod" class="dropdown" style="display: inline;margin-left: 30px">计算方式：

            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 0px"><span class="method_option">随机</span>
                  <span class="caret"></span></button>

                  <ul class="dropdown-menu" style="margin-top: 12px;margin-left:20%">
                    <li><a data-value="random" href="#">随机</a></li>
                    <li><a data-value="postive" href="#">正序</a></li>
                  </ul>
            </div>
            <input class="modal_ac_input form-control-inline" placeholder="100" aria-controls="char_index" style="margin-top:2px;width: 100px"></input>
          </div>
          <div class="row" style="position:absolute;bottom:0px;width:600px;">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-warning alert-dismissible fade in" role="alert" style="display:block;">
                  预计计算时间为<strong id="estimate"></strong>秒.正负偏差<strong id="diff-scope"></strong>秒.
                </div>
            </div>
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-primary cal">计算</button>
        </div>
      </div>
    </div>
  </div>
</div>
