<div class="mute_checkbox">
<a class="btn btn-default-big" onclick="muted(this)"><span class="fa fa-volume-up" ></span></a>
</div>
<audio id="bingo_audio" autobuffer>
  <source src="/static/audio/bingo.mp3" type="audio/mpeg" />
</audio>
<audio id="bingo_audio_2" autobuffer>
  <source src="/static/audio/bingo.mp3" type="audio/mpeg" />
</audio>

<audio id="dingding" autobuffer>
  <source src="/static/audio/dingding.mp3" type="audio/mpeg" />
</audio>

<script type="text/javascript">
var bingo_n = 0;
function muted(ele){
  var sp = $(ele).find('span');
  if(sp.hasClass('fa-volume-up')){
    sp.removeClass('fa-volume-up');
    sp.addClass('fa-volume-off');
    document.getElementById('bingo_audio').muted = true;
    document.getElementById('bingo_audio_2').muted = true;
    document.getElementById('dingding').muted = true;
  }
  else{
    sp.removeClass('fa-volume-off');
    sp.addClass('fa-volume-up');
    document.getElementById('bingo_audio').muted = false;
    document.getElementById('bingo_audio_2').muted = false;
    document.getElementById('dingding').muted = false;
  }
};

function play_bingo(){
  bingo_n++;
  if (bingo_n%2==0)
    document.getElementById('bingo_audio').play();
  else
    document.getElementById('bingo_audio_2').play();
}

function play_batch_mark(){
  document.getElementById('dingding').play();
}
</script>