<style>
.modal { overflow: visible; }
.modal-body { overflow-y: visible; }
</style>
<div class="bd-mark">
  <div class="modal fade" id="markModal" tabindex="-1" role="dialog" aria-labelledby="markModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="h4 modal-title" style="display: inline" id="markModalLabel">相似度标记</div>
          <strong id='mark_char' style='font-size:36px; margin:0px;padding:8px;color:#483D8B;'>？</strong>
        </div>
        <div class="modal-body" style="min-height:100px;">
          <div class="mark-container" style="margin-left:50px;margin-right: 10px">
              <div style="display: inline;margin-left: 30px">范围：</div>
              <input class="mark_input mark_input_l form-control-inline" placeholder="1-1000" aria-controls="char_index" style="margin-top:2px;width: 100px"></input>
              <span>&#8240;&nbsp;-</span>
              <input class="mark_input mark_input_r form-control-inline" placeholder="1-1000" aria-controls="char_index" style="margin-top:2px;width: 100px"></input>
              <span>&#8240;&nbsp;</span>
              <span style="margin-left: 20px;color:grey">预估数:</span><span class="marking_count" style="color:grey">0</span>
          </div>
            <div class="row" style="margin-top:10px">
              <div class="col-md-6 col-md-offset-3">
                  <div class="alert alert-danger alert-dismissible fade in" role="alert" style="display:none;">
                    <strong>数字</strong> 不可为零或超过1000.
                  </div>
              </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary mark disabled">标记</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/StackedAreaChart/js/d3.min.js"></script>

<script>

function estimateCount() {
  var url = "/characters/accuracy_count";
  var data = {
    char: $("#mark_char").text(),
    min_value: $('.mark_input_l').val() ||100000,
    max_value: $('.mark_input_r').val() ||0,
  };
  $.ajax({
        url: url,
        method: 'post',
        cache: false,
        data: data,
        success: function(res) {
          console.log(res);
          $('.marking_count').text(res.count);
          if (res.count > 0){
            $('.mark').removeClass('disabled');
          }else {
            $('.mark').addClass('disabled');
          }
        },
        error: function(xhr, status, err) {
          console.log(err);
        }
  });
}

$("input.mark_input").on('input', function(){
  estimateCount();
});

$(function(){
  $('#markModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var modal = $(this);
    $('.marking_count').text('0');
    $('.mark').addClass('disabled');
    modal.find('#mark_char').text(button.data('char'));
    estimateCount();
  });

  $("button.mark").click(function(){
    var count = parseInt($(".marking_count").text());
    if (count == 0) {
      return;
    }

    var url = "/characters/marked_by_accuracy";
    var data = {
      char: $("#mark_char").text(),
      min_value: $('.mark_input_l').val() ||100000,
      max_value: $('.mark_input_r').val() ||0,
    };
    $.ajax({
        url: url,
        method: 'post',
        cache: false,
        data: data,
        success: function(res) {
        },
        error: function(xhr, status, err) {
          console.log(err);
        }
    });
    $("#markModal").modal('hide');
  });


});


</script>