<div class="mute_checkbox">
<a class="btn btn-default-big" onclick="muted(this)"><span class="fa fa-volume-up" ></span></a>
</div>
<audio id="bingo_audio" autobuffer>
  <source src="/static/audio/bingo.mp3" type="audio/mpeg" />
</audio>
<audio id="bingo_audio_2" autobuffer>
  <source src="/static/audio/bingo.mp3" type="audio/mpeg" />
</audio>

<audio id="fail_audio" autobuffer>
  <source src="/static/audio/fail.mp3" type="audio/mpeg" />
</audio>
<audio id="fail_audio_2" autobuffer>
  <source src="/static/audio/fail.mp3" type="audio/mpeg" />
</audio>
<audio id="dingding" autobuffer>
  <source src="/static/audio/dingding.mp3" type="audio/mpeg" />
</audio>

<audio id="clean" autobuffer>
  <source src="/static/audio/clean.mp3" type="audio/mpeg" />
</audio>
