<div class="bd-recog">
  <div class="modal fade" id="recogModal" tabindex="-1" role="dialog" aria-labelledby="recogModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row">
            <div class="h4 modal-title" style="display: inline;margin-left: 10px;" id="recogModalLabel">
            </div>
            <strong class='cut_image_char' style='font-size:24px; margin:0px;padding:8px;color:#483D8B;'>{{character}}</strong>
          </div>
        </div>
        <div class="modal-body" style="min-height: 300px">
          <div class="cut-container">
            <div  id="{{item.id}}" class="flow  char-image" style="margin: 40px 37%;zoom: 130%;background-color: gainsboro;">
              <img alt="加载中..." v-bind:src="item_url" style="margin: 16px auto;" >



            </div>
          </div>
          {% verbatim %}
          <div class='row'>
            <p class='hanzi-header'> 识别结果:</p>
            <div id='recog-contain' class='col-md-10 col-md-offset-1'>
              <template v-for="item in predict_results">
                  <p class="hanzi">{{item}}</p>
              </template>
            </div>
          </div>
          {% endverbatim %}
        </div>
      </div>
    </div>
  </div>
</div>