{% extends "base.html" %}
{% block head %}
<title>页面预处理</title>
<link href="/static/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/svg.select.css">
<link href="/static/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tingle.min.css" media="all">
<link rel="stylesheet" href="/static/css/tingle.min.css" media="all">
<style>
    .highlight {
      stroke: red;
      stroke-width: 2;
    }
    .segment-line {
      stroke: blue;
      stroke-width: 2;
    }

    .cursor_ns {
      cursor:ns-resize;
    }

    .toolbar {
        margin:20px;
        padding:10px;
        background-color:#40E0D0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container-fluid">
    <div class="select_panel">
        <div class="h4">选择藏经所在册</div>
              <select id='Tripitaka' class="selectpicker show-menu-arrow" data-live-search="true" >
                <option >====大藏经===</option>
                {% for tri in tripitaka_list%}
                <option value='{{tri.id}}'>{{ tri.name}}</option>
                {% endfor %}
              </select>
              <select id='Volume' class="selectpicker show-menu-arrow" data-live-search="true" >
              </select>


    </div>
    <div class='row show-grid'>
        <div class='col-md-2 sidecol' >
            <table id='pageindext' class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                     <th>Page编号</th>
                  </tr>
                </thead>
              <tbody>
                {% for page in opage_list %}
              <tr>
                  <td >{{page.id}}</td>
              </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class='col-md-10'>
            <div class="unchecked-box hidden">
            </div><!--end hidden-->

            <div id="bookpage_cut"></div>
        </div><!--end col-md-9-->
    </div><!--end row -->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/svg.min.js"></script>
<script src="/static/js/svg.draw.min.js"></script>
<script src="/static/js/svg.select.js"></script>
<script src="/static/js/svg.resize.js"></script>
<script src="/static/js/svg.draggable.min.js"></script>


<script>
var volumes = [];

$('#Tripitaka').on('changed.bs.select', function (e) {
  var request = $.getJSON({
        type: 'GET',
        url: '/api/tripitaka/' + e.target.value,
    });
  request.done(function(data){

        $("#Volume").empty();
        $("#Volume").append(
                $("<option></option>").attr(
                    "value", "").text("--- 册 ---")
            );
        volumes = data.volumes;
       for (var i = 0; i < data.volumes.length; i++) {
            $("#Volume").append(
                $("<option></option>").attr(
                    "value", i).text(volumes[i].number)
            );
        }
        $('#Volume').selectpicker('refresh');
    });
});


var texts = [];

function binding_page(){
    $('#pageindext tbody tr').click(function (e) {
        $('.unchecked-box').removeClass("hidden");
        $('tr').removeClass("selected");
        $(this).addClass("selected");
        var _pageid = $("tr.selected td:first").text();
        $('.unchecked-box').load("/preprocess/text_process/" + _pageid);
    });


}

$('#Tripitaka').on('changed.bs.select', function (e) {
  var request = $.getJSON({
        type: 'GET',
        url: '/api/tripitaka/' + e.target.value ,
    });
  request.done(function(data){

        $("#Volume").empty();
        $("#Volume").append(
                $("<option></option>").attr(
                    "value", "").text("--- 册 ---")
            );
        $volumes = data.volumes;
       for (var i = 0; i < data.volumes.length; i++) {
            $("#Volume").append(
                $("<option></option>").attr(
                    "value", $volumes[i].id).text($volumes[i].number).attr('data-idx', i)
            );
        }
        $('#Volume').selectpicker('refresh');
    });
});

$('#Volume').on('changed.bs.select', function (e) {
    var request = $.getJSON({
        type: 'GET',
        url: '/api/page?volume=' + e.target.value + '&is_correct=0' ,
    });
  request.done(function(data){

        $("#pageindext tbody").empty();

        opages = data.models;
        for (var i = 0; i < opages.length; i++) {
            $("#pageindext tbody").append(
                $("<tr></tr>").append($("<td></td>").html(opages[i].id)));
        }
        binding_page();
    });
});
</script>

{% endblock %}

