{% extends "base.html" %}
{% block head %}
<title>切分校对</title>
    <style>
      .error-char {
        background-color: pink;
      }
    </style>
{% endblock %}

{% block mainbody %}
<div class="container">
    <table class="table table-bordered">
      <tbody>
        {% for ch in characters %}
          {% if forloop.first %}
      <tr>
          {% else %}
            {% if forloop.counter|divisibleby:"10" %}</tr><tr>
            {% endif %}
          {% endif %}
        <td id="{{ ch.id }}" class="char-image {% if ch.is_correct == -1 %}error-char{% endif %}"><img src="/character_images/{{ ch.image }}" alt="*"></td>
          {% if forloop.last %}</tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <div class="pagec" id="pagearea">
        <ul class="pagination">
        </ul>
    </div>

</div><!-- /.container -->
{% endblock %}


{% block foot  %}
    <script src="/static/js/pagination.js" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			$(".pagination").createPage({
                totalPage:{{characters.paginator.num_pages }},
                currPage:{{characters.number}},
				turndown:'true',
				backFn:function(p){
					console.log("回调函数："+p);
                    window.open('?page='+p,'_self')
				}
			});
		})
    </script>
  <script>
    $('.char-image').click(function(){
      var data = {'id': this.id};
      data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
      if ($(this).hasClass('error-char')) {
        $(this).removeClass('error-char');
        data['is_correct'] = 1;
        $.post('/segmentation/set_correct', data, function() {
        });
      } else {
        $(this).addClass('error-char');
        data['is_correct'] = -1;
        $.post('/segmentation/set_correct', data, function() {
        });
      }
    });
  </script>
{% endblock %}
