{% extends "base.html" %}
{% block head %}
<title>切分校对</title>
<style>
  .error-char {
    background-color: pink;
  }
</style>
<!--
<script type="text/javascript">
   window.onload = function(){
       //去掉默认的contextmenu事件，否则会和右键事件同时出现。
       document.oncontextmenu = function(e){
           e.preventDefault();
       };
   }
</script>
-->
{% endblock %}

{% block mainbody %}
<div class="container">
    <table class="table table-bordered">
      <tbody>
        {% for ch in characters %}
          {% if forloop.first %}
      <tr>
          {% else %}
            {% if forloop.counter|divisibleby:"10" %}</tr><tr>
            {% endif %}
          {% endif %}
        <td id="{{ ch.id }}" class="char-image {% if ch.is_correct == -1 %}error-char{% endif %}"><img src="/character_images/{{ ch.image }}" alt="加载中"></td>
          {% if forloop.last %}</tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <div class="pagec" id="pagearea">
        <ul class="pagination">
        </ul>
    </div>

    <div style="clear:both;"> </div>
    <div  class="btn btn-primary batch-check" >批量审核通过(除了有错误标记的都会通过)</div>

</div><!-- /.container -->
{% endblock %}


{% block foot  %}
<script src="/static/js/pagination.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $(".pagination").createPage({
            totalPage:{{characters.paginator.num_pages }},
            currPage:{{characters.number}},
            turndown:'true',
            backFn:function(p){
                console.log("回调函数："+p);
                window.open('?page='+p,'_self')
            }
        });
    })
</script>
<script type="text/javascript">
$('.batch-check').click(function(){
        var arr =[];
        {%for ch in characters%}
        arr.push('{{ch.id}}');
        {%endfor%}
        var data = {'charArr':arr};
        data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
        data['char'] = '{{ char }}';
        $.post('/segmentation/set_correct', data, function() {
        location.reload(false);
            });
} );
</script>
<script type="text/javascript">
$('.char-image').click(function(){
  var data = {'id': this.id};
  data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
  data['char'] = '{{ char }}';
  if ($(this).hasClass('error-char')) {
    $(this).removeClass('error-char');
    data['is_correct'] = 1;
    $.post('/segmentation/set_correct', data, function() {
    });
  } else {
    $(this).addClass('error-char');
    data['is_correct'] = -1;
    $.post('/segmentation/set_correct', data, function() {
    });
  }
});
</script>
{% endblock %}
