{% extends "base.html" %}
{% block head %}
<title>字索引</title>

<link href="/static/css/simplePagination.css" rel="stylesheet">
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<style>
label {
    display: inline-block;
  } /*for tooltip*/
  .error-char {
    background-color: pink;
  }
  .correct-char {
    background-color: #9AFF9A;
  }
  .flow {float:left; min-width:80px; min-height:80px; margin:5px;border:solid blue 1px;}

  .selected {
      background-color: #aaa !important;
  }

.unchecked-box{
    position: relative;
    padding: 25px 15px 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}
.m-b-10 {
	margin-bottom: 10px;
}
.sidecol {
    height:80%;
    overflow:auto;
    position:relative;
    max-height:800px;
}
</style>
{% endblock %}
{% block mainbody %}
<div class="container">
    <div class='row show-grid'>
        <div class='col-md-3 col-xs-3' >
            <div class='sidecol'>
    <table class="table table-bordered table-striped table-hover">
        <caption>已经切分出的字列表</caption>
        <thead>
          <tr>
             <th>字</th>
             <th>字形总数</th>
             <th>未审核字形数</th>
             <th>错误字形数</th>
          </tr>
        </thead>
      <tbody id='charindextbody'>
        {% for ch in characterstatistics_list %}
      <tr >
          <td value='{{ch.char}}'>{{ch.char}}</td><td>{{ch.total_cnt}}</td><td>{{ch.uncheck_cnt}}</td><td >{{ch.err_cnt}}</td>

        {% endfor %}
      </tbody>
    </table>
</div>
        </div>
        <div class='col-md-9 col-xs-9'>
            <ul id="myTab" class="nav nav-tabs" style = "margin:20px 0px;">
               <li class="active" id='checkbtn'>
                  <a href="#check_tab" data-toggle="tab">审核模式 </a>
               </li>
               <li id='browsebtn'><a href="#browse_tab" data-toggle="tab">浏览模式</a></li>
            </ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="check_tab">
        <div class="unchecked-box hidden">
          <div class="progress progress-striped">
              <div class="progress-bar " role="progressbar" data-transitiongoal="0" aria-valuemax="0"></div>
          </div>
        </div>
        <div id='charlistArea'>
            <p class="bg-info" style='margin:20px;padding:10px;'>审核模式只显示未审核的字形，浏览模式分页显示所有字形。</p>
        </div><!--end charlistArea -->
        <div style="clear:both;"> </div>
        <strong id='checkchar' style='font-size:36px; margin:10px;padding:8px;color:#483D8B;'></strong>

        <div  class="btn btn-primary batch-check" >批量审核通过(除了有错误标记的都会通过)</div>


   </div><!--end check_tab -->
   <div class="tab-pane fade" id="browse_tab">
        <div id='charBrowseArea'>
        </div>
        <div style="clear:both;"> </div>
        <div class="pagec" id="pagearea">
            <ul class="pagination">
            </ul>
        </div>
   </div><!--end browse_tab -->
</div>

        </div>
    </div><!--endrow-->

</div><!-- /.container -->
{% endblock %}
{% block foot  %}
<!--for index-->
<script>
$(function(){
    $('#charindextbody tr').click(function (e) {
        $('.unchecked-box').removeClass('hidden');
        $('tr').removeClass("selected");
        $(this).addClass("selected");
        var _char = $("tr.selected td:first").text();
        window.char = _char;
            $.getJSON("/segmentation/charactercheck/"+window.char+"?mode=check",function(result){
                obj= $.parseJSON(result.charArr);
                renderCharArea("#charlistArea",obj);
                binding_char_check('#charlistArea');
                $('#checkchar').text($("tr.selected td:first").text());
                var _total_num = parseInt($("tr.selected td:first").next().text())
                var _checked = _total_num - result.uncheck_cnt
                $(".progress .progress-bar").attr("data-transitiongoal", Math.ceil(_checked/30));
                $(".progress .progress-bar").attr("aria-valuemax",Math.ceil(_total_num/30));
                $('.progress .progress-bar').progressbar({display_text:'center', use_percentage: false});
                  $('.progress .progress-bar').progressbar({
                        update: function(current_percentage, $this) {
                            $this.css('background-color', 'rgb(175,' + Math.round(current_percentage / 100 * 255) + ', 120)');
                        }
                    });

                $.getJSON("/segmentation/charactercheck/"+window.char+"?mode=browse",function(result){
                    paginationFun(result.items,result.itemsOnPage);
                    obj= $.parseJSON(result.charArr);
                    renderCharArea("#charBrowseArea",obj);
                    binding_char_check('#charBrowseArea');
                });
            });

    });

})
</script>
<!--for browse&check-->
<script>
function binding_char_check(area){
    var selector = area + ' .char-image'
    $(selector).click(function(){
      var data = {'id': this.id};
      data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
      data['char'] = window.char;
      if ($(this).hasClass('error-char')) {
        $(this).removeClass('error-char');
        $(this).addClass('correct-char');
        data['is_correct'] = 1;
        $.post('/segmentation/set_correct', data, function() {
        });
      } else {
        $(this).removeClass('correct-char');
        $(this).addClass('error-char');
        data['is_correct'] = -1;
        $.post('/segmentation/set_correct', data, function() {
        });
      }
    });
}
</script>
<script>
function renderCharArea(area,charArr){
    $(area).empty();
    txt =''
    $.each(charArr, function(i, field){
        txt = "<div id="+field.id+" class='flow "
        if (field.is_correct == -1){
            txt += "error-char ";
        }
        else if (field.is_correct == 1){
            txt += "correct-char ";
        }
        txt +="char-image' title='"+field.id+"'><img src='"+field.image+"' alt='加载中'></div>"
        $(area).append(txt);
      });
}
</script>
<!-- for browse mode-->
<script src="/static/js/jquery.simplePagination.js" charset="utf-8"></script>
<script>
function paginationFun(_items,_itemsOnpage){
    $('#pagearea').pagination({
        items: _items,
        itemsOnPage: _itemsOnpage,
        cssStyle: 'light-theme',
    onPageClick: function(pageNumber, event) {
                // Callback triggered when a page is clicked
                // Page number is given as an optional parameter
                $.getJSON("/segmentation/charactercheck/"+window.char+"?mode=browse&page="+pageNumber,function(result){
                    obj= $.parseJSON(result.charArr);
                    renderCharArea("#charBrowseArea",obj);
                    binding_char_check('#charBrowseArea');
                });
            },
    });
}
</script>
<!--for check mode-->
<script>
$(function(){
    $('.batch-check').click(function(){
            var arr =[];
            var charlist = $("#charlistArea").children();
            for (var i=0;i<charlist.length;i++){
                var tmp = charlist[i];
                arr.push(tmp.id);
            }
            var data = {'charArr':arr};
            var updateNum = $('#check_tab .char-image').length - $('#check_tab .correct-char').length - $('#check_tab .error-char').length;
            data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
            data['char'] = window.char;
            data['updateNum'] = updateNum;
            $.post('/segmentation/set_correct', data, function() {
                $.getJSON("/segmentation/charactercheck/"+window.char+"?mode=check",function(result){
                    obj= $.parseJSON(result.charArr);
                    renderCharArea("#charlistArea",obj);
                    binding_char_check('#charlistArea');
                    var _total_num = parseInt($("tr.selected td:first").next().text())
                    var _checked = _total_num - result.uncheck_cnt
                    $(".progress .progress-bar").attr("data-transitiongoal", Math.ceil(_checked/30));
                      $('.progress .progress-bar').progressbar({
                            update: function(current_percentage, $this) {
                                $this.css('background-color', 'rgb(0,' + Math.round(current_percentage / 100 * 255) + ', 0)');
                            }
                    });
                });
            });
    } );
})
</script>
<script type="text/javascript" src="/static/js/bootstrap-progressbar.min.js"></script>
<!--插件简介/演示地址 http://www.htmleaf.com/Demo/201505121817.html
官网  http://www.minddust.com/project/bootstrap-progressbar/

-->


{% endblock %}

