{% extends "base.html" %}
{% block head %}
<title>字索引</title>
{% endblock %}
{% block mainbody %}
<div class="container">
    <table class="table table-bordered table-striped table-hover">
        <caption>已经切分出的字列表</caption>
        <thead>
          <tr>
             <th>页面号</th>
             <th>含且错字形总数</th>
          </tr>
        </thead>
      <tbody>
        {% for page in character_list %}
      <tr>
          <td ><a href="/segmentation/{{page.page}}">{{page.page}}</td><td>{{page.dcount}}</td>
        {% endfor %}
      </tbody>
    </table>

</div><!-- /.container -->
{% endblock %}
