
{% extends "base.html" %}
{% block head %}
{# 用于在html head部分添加内容，如引入css，js资源等#}
<style type="text/css">
<!-- 
.tnt {Writing-mode:tb-rl;Text-align:left;font-size:9pt}
-- >
</style>

<style> 
.black_overlay{  display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.5;  opacity:0.5;  filter: alpha(opacity=50);  }  
.white_content {  display: none;  position: absolute;  top: 25%;  left: 25%;  width: 50%;  height: 50%;  padding: 16px;  border: 16px solid orange;  background-color: white;  z-index:1002;  overflow: auto;  -moz-opacity: 0.8;  opacity:0.8;  filter: alpha(opacity=80); }  
.flow{width:800px;height:400px;float:left;background-color: red;margin:8px;}
.flow img{width:100%;}
</style> 


{% endblock %}


{% block mainbody %}
{# 主内容区 #}
{%for page in page_list%}
<div class='flow'>
<a href="javascript:void(0)" onclick="document.getElementById('light{{page.id}}').style.display='block';document.getElementById('fade').style.display='block'">
    <img src='/page_images/{{page.image}} ' />
</a>
</div>

    <div id="light{{page.id}}" class="white_content tnt"> 
        {{page.text}}  

    <form  enctype="multipart/form-data" action="{% url 'segmentation:uploadimg'  page.id%}" method="POST" > 
        {% csrf_token %}
        <input id='file1' type="file" name="uploadimg"/>
        <input type="submit" value="ok" /> 
    </form>

    <a href='/page_images/{{page.image}} '> 下载原图 </a>
    <a href="javascript:void(0)" onclick="document.getElementById('light{{page.id}}').style.display='none';document.getElementById('fade').style.display='none'"> Close</a>
</div> 
{%endfor%}

<div id="fade" class="black_overlay"> </div> 
<div style="clear:both;"> </div>
<ul class="pager"> 
    <li class="previous"><a href="#">&larr; Older</a></li> 
    <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>



{% endblock %}

{% block foot %}
{# 用于在body标签闭合前添加代码，如引入js代码等 #}
{% endblock %}



