{% extends "base.html" %}
{% block head %}
{# 用于在html head部分添加内容，如引入css，js资源等#}
<title>切分调整</title>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/svg.select.css">
<style>
    .highlight {
      stroke: red;
      stroke-width: 4;
    }
    .segment-line {
      stroke: blue;
      stroke-width: 4;
    }
    .error-char {
      stroke: #FF00FF;
      stroke-width: 4;
    }
</style>
{% endblock %}


{% block mainbody %}
{# 主内容区 #}
<div>
  <div id="segmentation_page"></div>
  <button class="btn btn-default" id="save_button">保存</button>
</div>
{% endblock %}

{% block foot %}
{# 用于在body标签闭合前添加代码，如引入js代码等 #}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/js/svg.min.js"></script>
<script src="/static/js/svg.draggable.min.js"></script>
<script type="text/javascript">
{% if page.width %}
var draw = new SVG('segmentation_page').size('{{ page.width }}', '{{ page.height }}');
{% else %}
var draw = new SVG('segmentation_page').size('1200', '800');
{% endif %}
draw.style('background:url(/page_images/{{ page.id }}.jpg) no-repeat;');

var lines = [];
var moves = {};
var line1 = null;
{% for char_line in line_lst %}
{% if char_line.line_no == 1 %}
line1 = draw.line({{ char_line.right }}, 0, {{ char_line.right }}, 837).addClass('segment-line');
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.x(e.detail.p.x);
}).on('dragend', function(e){
  console.log('line-0: ' + this.x() + ', ' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves['line-0'] = this.x();
});
{% endif %}
line1 = draw.line({{ char_line.left }}, 0, {{ char_line.left }}, 837).addClass('segment-line');
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.x(e.detail.p.x);
}).on('dragend', function(e){
  var key = 'line-' + {{ char_line.line_no }};
  console.log(key + ': ' + this.x() + ', ' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves[key] = this.x();
});
{% for character in char_line.char_lst %}

{% if character.char_no == 1 %}
line1 = draw.line({{ char_line.left }}, {{ character.top }}, {{ char_line.right }}, {{ character.top }}).addClass('segment-line');
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.y(e.detail.p.y);
}).on('dragend', function(e){
  var key = 'char-' + {{ char_line.line_no }} + '-0';
  console.log(key + ': y=' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves[key] = this.y();
});
{% endif %}
line1 = draw.line({{ char_line.left }}, {{ character.bottom }}, {{ char_line.right }}, {{ character.bottom }}).addClass('segment-line');
{% if character.is_correct == -1 %}
line1.addClass('error-char').removeClass('segment-line');
{% endif %}
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.y(e.detail.p.y);
}).on('dragend', function(e){
  var key = 'char-' + {{ char_line.line_no }} + '-' + {{ character.char_no }};
  console.log(key + ': y=' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves[key] = this.y();
});

{% endfor %}
{% endfor %}

$('#save_button').on('click', function(){
  moves['csrfmiddlewaretoken'] = '{{ csrf_token }}';
  $.post('/segmentation/{{ page.id }}/modify', moves,
  function(d) {
    console.log('ok');
    location.reload();
  });
});
</script>
{% endblock %}


