{% extends "base.html" %}
{% block head %}
<title>页面检查</title>
{# 用于在html head部分添加内容，如引入css，js资源等#}
<style type="text/css">

    .flow{width:65%;height:65%;float:left;margin:5px;margin-top:20px;border:1px solid blue;}
    .flow img{width:100%;}
    .error-char {
    background-color: pink;
    opacity: 0.4;
    z-index: 99;
    }
    .segment-line {
      stroke: blue;
      stroke-width: 3;
    }
</style>

{% endblock %}


{% block mainbody %}
{# 主内容区 #}
<div class="container">
    {%for page in page_list%}
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8 gallery">
            <div id="img{{ page.id }}"></div>
        </div>
        <div class="col-md-12 reel">
        <pre rel="经文" class=" language-markup">
        <div id="right_text_{{page.id}}" class="tnt"> </div>
        </pre>
        <div class="btn-group-vertical action_buttons">
            <button class="btn btn-primary">初校</button>
            <button id="{{page.id}}" class="btn btn-default  setPageTag_btn"  value="1">正确</button>
            <button id="{{page.id}}" class="btn btn-default  setPageTag_btn"  value="-3" >行错</button>
            <button id="{{page.id}}" class="btn btn-default setPageTag_btn" value="-4">页面错</button>
        </div>
    </div>



    </div>

    {%endfor%}
</div>
    <div id="fade" class="black_overlay"> </div>
    <div style="clear:both;"> </div>
 <!-- 
    <div  class="btn btn-primary batch-check" >批量审核通过(除了有错误标记的都会通过)</div>
    -->


</div><!-- /.container -->
{% endblock %}

{% block foot %}
{# 用于在body标签闭合前添加代码，如引入js代码等 #}
<script src="/static/js/svg.min.js"></script>
<script>
$(function(){
    {%for page in page_list%}
    txt = "{{page.text|escape|linebreaks}}";
    txt = txt.replace(/K[0-9A-Za-z]*L;\ /g,'');
    $('#right_text_{{page.id}}').append(txt);
    var draw = new SVG('img{{ page.id }}').size('650', '325');
    var _img_path = '{{page.image.url}}'
    var image = draw.image(_img_path)
    draw.viewbox({ x: 0, y: 0, width:{{page.width }} , height:  {{page.height }}})
    var leftline = draw.line({{page.left}},0,{{page.left}},900).addClass('segment-line');
    var rightline = draw.line({{page.right}},0,{{page.right}},900).addClass('segment-line');
    {%endfor%}
})
</script>
<!--
<script>
$('.batch-check').click(function(){
        var arr =[];
        {%for page in page_list%}
        arr.push('{{page.id}}');
        {%endfor%}
        var data = {'pageArr':arr};
        data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
        $.post('/segmentation/set_page_correct', data, function() {
        location.reload(false);
            });
} );
</script>
-->
<script>
$('.setPageTag_btn').on('click', function(){
    var tag =$(this).val();
    $that = $(this);
    console.log(tag);

    var data = {'id': this.id};
    data['is_correct'] = tag;
    data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
    $.post('/segmentation/set_page_correct', data, function() {
        $that.parent().parent().parent().animate({
            height: 'toggle'
        });

    });
});
</script>
{% endblock %}





