{% extends "base.html" %}
{% block head %}
{# 用于在html head部分添加内容，如引入css，js资源等#}
<title>切分调整</title>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/svg.select.css">
<link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
<script type="text/javascript">
window.onload = function(){
   //去掉默认的contextmenu事件，否则会和右键事件同时出现。
   document.oncontextmenu = function(e){
       e.preventDefault();
   };
}
</script>
<style>
    .highlight {
      stroke: red;
      stroke-width: 4;
    }
    .segment-line {
      stroke: blue;
      stroke-width: 4;
    }
    .error-char {
      stroke: #FF00FF;
      stroke-width: 4;
    }
.tnt {Writing-mode:tb-rl;Text-align:left;font-size:16pt}
.black_overlay{  display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.3;  opacity:0.3; }  
.white_content {  display: none;  position: absolute;  top: 10%;  left: 10%;  padding: 16px;  border: 16px solid grey;  background-color: white;  z-index:1002;  overflow: auto;  -moz-opacity: 0.8;  opacity:0.8; }  

    .toolbar { 
        margin:20px;
        padding:10px;
        background-color:#40E0D0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

#ex1Slider .slider-selection {
    background: #BABABA;
}

</style>
{% endblock %}


{% block mainbody %}

<div class="container-fluid">
{# 主内容区 #}
    <div>
        <div class="btn-toolbar toolbar" role="toolbar" aria-label="test" style=''>
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="30" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
          <div id='setPageTag_btn' class="btn-group" style='' role="group" aria-label="错误标记">
                <label for="radio-1">行对应错误</label>
                <input type="radio" name="settag" value="-3">
                <label for="radio-2">页面对应错误</label>
                <input type="radio" name="settag" value="-4">
                <label for="radio-3">正常</label>
                <input type="radio" name="settag" value="1">
          </div>
          <button class="btn btn-default" id="save_button">保存人工调整</button>
        </div>
      <div id="segmentation_page"></div>
    <div id="light" class="white_content tnt"> 
        {% for line in text %}
        <div>{{line}}</div>
        {%endfor%}
    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"> Close</a> 
    </div> 
    <div id="fade" class="black_overlay"> </div> 
    </div>
</div><!-- /.container -->
{% endblock %}

{% block foot %}
{# 用于在body标签闭合前添加代码，如引入js代码等 #}
<!--<script src="/static/js/jquery-ui.min.js"></script>-->
<script type='text/javascript' src="/static/js/bootstrap-slider.min.js"></script>
<script src="/static/js/svg.min.js"></script>
<script src="/static/js/svg.draggable.min.js"></script>
<script>
// With JQuery
$('#ex1').slider({
    formatter: function(value) {
        return 'Current value: ' + value;
    }
});
$('#ex1').on('slideStop',function(value){
           console.log(value.value);
            var factor = value.value/100;
            var _width = image.width();
            var _height = image.height();
            console.log(_width);
            draw.size(_width*factor,_height*factor);
            draw.viewbox({ x: 0, y: 0, width: _width, height: _height })
        });
</script>
<script type="text/javascript">
/*var image=new Image();
image.src="/page_images/{{ page.id }}.jpg";
var draw = new SVG('segmentation_page').size(image.width, image.height);
*/
{% if page.width %}
var draw = new SVG('segmentation_page').size('{{ page.width }}', '{{ page.height }}');
{% else %}
var draw = new SVG('segmentation_page').size('200', '300');
{% endif %}
//draw.style('background:url(/page_images/{{ page.id }}.jpg) no-repeat;');
var image = draw.image('/page_images/{{ page.id }}.jpg').loaded(function(loader) {
    this.size(loader.width, loader.height);
    var factor = 0.5;
    //draw.size(loader.width,loader.height);
    draw.size(loader.width*factor,loader.height*factor);
    draw.viewbox({ x: 0, y: 0, width: loader.width, height: loader.height })
    //draw.viewbox({ x: 0, y: 0, width: loader.width*2, height: loader.height*2 })
    //draw.size(1200,image.height);
    //draw.scale(factor);
})

var lines = [];
var moves = {};
var line1 = null;
{% for char_line in line_lst %}
{% if char_line.line_no == 1 %}
line1 = draw.line({{ char_line.right }}, 0, {{ char_line.right }}, 837).addClass('segment-line');
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.x(e.detail.p.x);
}).on('dragend', function(e){
  console.log('line-0: ' + this.x() + ', ' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves['line-0'] = this.x();
});
{% endif %}
line1 = draw.line({{ char_line.left }}, 0, {{ char_line.left }}, 837).addClass('segment-line');
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.x(e.detail.p.x);
}).on('dragend', function(e){
  var key = 'line-' + {{ char_line.line_no }};
  console.log(key + ': ' + this.x() + ', ' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves[key] = this.x();
});
{% for character in char_line.char_lst %}

{% if character.char_no == 1 %}
line1 = draw.line({{ char_line.left }}, {{ character.top }}, {{ char_line.right }}, {{ character.top }}).addClass('segment-line');
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.y(e.detail.p.y);
}).on('dragend', function(e){
  var key = 'char-' + {{ char_line.line_no }} + '-0';
  console.log(key + ': y=' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves[key] = this.y();
});
{% endif %}
line1 = draw.line({{ char_line.left }}, {{ character.bottom }}, {{ char_line.right }}, {{ character.bottom }}).addClass('segment-line');
{% if character.is_correct == -1 %}
line1.addClass('error-char').removeClass('segment-line');
{% endif %}
line1.draggable().on('dragmove', function(e){
  e.preventDefault();
  this.y(e.detail.p.y);
}).on('dragend', function(e){
  var key = 'char-' + {{ char_line.line_no }} + '-' + {{ character.char_no }};
  console.log(key + ': y=' + this.y());
  this.addClass('highlight').removeClass('segment-line');
  moves[key] = this.y();
});

{% endfor %}
{% endfor %}

$('#save_button').on('click', function(){
  moves['csrfmiddlewaretoken'] = '{{ csrf_token }}';
  $.post('/segmentation/{{ page.id }}/modify', moves,
  function(d) {
    console.log('ok');
    location.reload();
  });
});
</script>
<script>
    document.getElementById("segmentation_page").onmousedown = function(e){
       if(e.button ==2){
        document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block';
       }
    }
</script>
<script>
$('#setPageTag_btn input').on('click', function(){
    var tag = $('#setPageTag_btn input[name="settag"]:checked ').val(); 
    console.log(tag);
    var data = {'id': '{{ page.id }}' };
    data['is_correct'] = tag;
    data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
    $.post('/segmentation/set_page_correct', data, function() { });
});
</script>
{% endblock %}


