{% extends "base.html" %}
{% load compress %}
{% block head %}
<title>经书页面列表</title>
{% compress css %}
<link href="/static/css/simplePagination.css" rel="stylesheet">
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="/static/characters/css/app.css">
<link rel="stylesheet" href="/static/characters/css/circle.css">
<link rel="stylesheet" href="/static/characters/css/switch.css">
{% endcompress %}
{% endblock %}
{% block mainbody %}
<div class="container">
    <div class='row'>
    </div>
</div>
{% endblock %}

{% block foot %}
{% endblock %}