{% extends "base.html" %}
{% load compress %}
{% block head %}
<title>经书页面列表</title>
{% compress css %}
<link href="/static/css/simplePagination.css" rel="stylesheet">
<link href="/static/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="/static/characters/css/app.css">
<link rel="stylesheet" href="/static/characters/css/circle.css">
<link rel="stylesheet" href="/static/characters/css/switch.css">
{% endcompress %}
{% endblock %}
{% block mainbody %}
<div class="container">
    <div class='row'>
      <h1>{{sutra.name}}</h1>
    </div>
    <div id='sutra_view' data-id='{{sutra.id}}' class='hidden'>
      {% verbatim %}
          <div class='row'>
          <div id="order_scope" class="dropdown" style="display: inline-block;float:right;margin: 0px 10px;">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span>{{order_scope}}</span>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="margin-top:8px;">
                        <li><a v-on:click="set_order('accuracy', $event)" href="#">升序</a></li>
                        <li><a v-on:click="set_order('-accuracy', $event)" href="#">降序</a></li>
                    </ul>
                </div>
                <div id="find_scope" class="dropdown" style="display: inline-block;float:right;margin: 0px 10px;">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span id='correct_scope'>{{correct_scope}}</span>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="margin-top:8px;">
                        <li><a v-on:click="filter_content(0, $event)" href="#">显示全部</a></li>
                        <li><a v-on:click="filter_content(-1, $event)" href="#">人工标错</a></li>
                        <li><a v-on:click="filter_content(1, $event)" href="#">人工标对</a></li>
                    </ul>
                </div>
          </div>
            <div class='row'>
            <div  style="margin-top:20px;display: inline-block">
                <template v-for="item in pages">
                    <div id="{{item.id}}" class="flow char-image {{gen_cls(item)}}" @contextmenu.prevent="handleContextmenu(item,$event)">
                        <img v-bind:src="item.thumbnail_image_url" alt="加载中..." class="lazy">
                        <span class="badge char-info">{{item.accuracy}}</span>
                        <div class="cmd-panel">
                            <div class="btn-correct-o" title='正确' v-on:click="mark_it(item, 1)">
                            </div>
                            <div class="btn-error-o" title='错误' v-on:click="mark_it(item, -1)">
                            </div>
                        </div>
                    </div>
                </template>
                <div style="display: none" v-bind:style="menu_style" class="ctx-menu-container">
                    <div class="ctx-menu">
                        <div class="ctx-item" v-on:click="goto_page_detail()">
                           页面详情
                        </div>
                    </div>
                </div>
              </div>
              </div>
              <div  class='row' style="float: left;">
                <span class='pagitor first btn btn-default' id='char_index_first' v-on:click="load_pages(1)" ><span class="fa fa-step-backward"></span></span>
                <span class='pagitor more-padding previous btn btn-default' id='char_index_previous' style="font-size:20px;" v-on:click="load_pages(pagination.previous_page)">❮</span>
                <input class='form-control-inline pagitor_input input-sm' value={{pagination.page}} type='number' min="1" v-on:keyup.13="goto_pages($event)">
                <span class='pagitor_of total_page'> /{{pagination.total_pages}}</span>
                <span class='pagitor more-padding next btn btn-default' style="font-size:20px;" v-on:click="load_pages(pagination.next_page)">❯</span>
                <span class='pagitor last btn btn-default' id='char_index_last' v-on:click="load_pages(pagination.total_pages)"><span class="fa fa-step-forward"></span></span>
              </div>
              <div class="btn-group" style="padding:0px; margin-left: 20px; float: left;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:3px">
                    <span>{{page_size}}&nbsp;</span><span class="caret"></span> </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="javascript:;" v-on:click="pagesize(10)">10</a></li>
                    <li><a href="javascript:;" v-on:click="pagesize(20)">20</a></li>
                    <li><a href="javascript:;" v-on:click="pagesize(50)">50</a></li>
                    <li><a href="javascript:;" v-on:click="pagesize(100)">100</a></li>
                    <li><a href="javascript:;" v-on:click="pagesize(200)">200</a></li>
                </ul>
                <label style="line-height: 31px;">字/页</label>
            </div>
      {% endverbatim %}
    </div>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
var sutra = new Vue({
    el: '#sutra_view',
    data: {
        selection: {},
        pages: [],
        pagination: {},
        is_correct: 0,
        acc_order: 'accuracy',
        correct_scope: '显示全部',
        order_scope: '升序',
        page_size: 50,
        current_page: 1,
        menu_style: {}
    },
    methods: {
      handleContextmenu: function(item, e) {
          document.removeEventListener('click', sutra._onContextMenuClick)
          debugger;
          this.menu_style = {
              top: e.pageY - window.scrollY + 'px',
              left: e.pageX + 'px',
              display: 'block'
          }
          this.selection = this.pages.indexOf(item)
          setTimeout(function() { document.addEventListener('click', sutra._onContextMenuClick) }, 200)
      },
      _onContextMenuClick: function(e) {
          e.stopPropagation()
          if ($('.ctx-menu-container').get(0) !== e.target) {
              sutra.menu_style = {
                  display: 'none'
              }
          }
          document.removeEventListener('click', sutra._onContextMenuClick)
      },
      gen_url: function(){
        var base_url = "/api/page?sutra=" + $('#sutra_view').data('id')
        base_url = base_url + '&page_size=' + sutra.page_size + "&page=" + this.current_page
        if (sutra.is_correct!= 0) {
           base_url = base_url + '&is_correct=' + sutra.is_correct
        }
        base_url = base_url + '&ordering=' + sutra.acc_order
        return base_url
      },
      gen_cls: function(item) {
            var class_name;
            if (item.is_correct == 1) {
                cls_name = 'correct-char flip-inx'
            } else if (item.is_correct == -1) {
                cls_name = 'error-char flip-inx'
            } else {
                cls_name = 'twinkling'
            }
            // if (this.items.indexOf(item) == this.selection)
            //     cls_name = cls_name.replace(/flip-inx/, '')
            return cls_name;
        },
      load_pages: function(page_num = 1) {
        this.current_page = page_num
        var url = this.gen_url()
        $.ajax({
          url: url,
          dataType: 'json',
          cache: false,
          success: function(data) {
            sutra.pages = data.models
            sutra.pagination = data.pagination
            $('#sutra_view').removeClass('hidden')
          },
          error: function(xhr, status, err) {
            console.log('error');
          }
        })
      },
      goto_pages: function(evt) {
        this.load_pages(evt.target.value)
      },
      set_order: function(order_by, evt) {
        this.order_scope = evt.target.text
        this.acc_order = order_by
        this.load_pages()
      },
      filter_content: function(is_correct, evt) {
        this.correct_scope = evt.target.text
        this.is_correct = is_correct
        this.load_pages()
      },
      pagesize: function(page_size){
        this.page_size = page_size;
        this.load_pages()
      },
      mark_it: function(item, is_correct) {
        var url = '/api/page/' + item.id + '/mark_is_correct'
        $.ajax({
            url: url,
            method: 'PUT',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data:  JSON.stringify({'is_correct': is_correct}),
            success: function(res) {
              var index= sutra.pages.indexOf(item)
                sutra.pages.$set(index, {
                    id: item.id,
                    image_url: item.image_url,
                    thumbnail_image_url: item.thumbnail_image_url,
                    accuracy: item.accuracy,
                    is_correct: res.is_correct
                })
            },
            error: function(xhr, status, err) {
                console.log(err);
            }
        })
      },
      goto_page_detail: function(item) {
        url = "/page/" + this.pages[this.selection].id;
        var _open = window.open(url);
      }
    }
});
$(function(){
  sutra.load_pages()
})
</script>
{% endblock %}